- @page_title = "#{company_name} - Create a service"
.edit
	%h1= "Create a service"
	#top_bar
		= render partial: 'home/admin_nav'
	#forms
		= render partial: 'edit_form'
= render partial: 'shared/save_changes_prompt'
