- new_announcement_to_display = ProfileAnnouncement.new
-# To ensure that we include subtypes of ProfileAnnouncement, use the announcements association first.
- saved_announcements = @profile.errorfree.announcements.order("active DESC", :position, "updated_at DESC")
- saved_announcements_total = saved_announcements.length
- new_announcement_to_edit = @profile.profile_announcements.select(&:new_record?).first
- new_announcement_to_edit ||= new_announcement_to_display

- # Create new profile announcement
= render partial: 'announcements_form', locals: {display_announcement: new_announcement_to_display, announcement: new_announcement_to_edit, announcements_total: saved_announcements_total, formlet_index: 'new', i: saved_announcements_total}

- # Loop through existing announcements
- saved_announcements.each_with_index do |display_announcement, i|
	- announcement = @profile.find_profile_announcement(display_announcement.id)
	= render partial: 'announcements_form', locals: {display_announcement: display_announcement, announcement: announcement, announcements_total: saved_announcements_total, i: i} if announcement

:javascript
	my_vars.edit_announcement = my_vars.edit_announcement || {};
	my_vars.edit_announcement.max_lengths = #{ProfileAnnouncement::MAX_LENGTHS.to_json};
	my_vars.edit_announcement.date_format = "#{ProfileAnnouncement::DATEFORMAT}";
	my_vars.edit_announcement.icons_set = #{announcement_icons().map { |a| a[:class] }.to_json};

:coffeescript
	js_dateformat = (internal_dateformat) ->
		switch internal_dateformat
			when "%Y-%m-%d" then "yy-mm-dd"
			else "mm-dd-yy"

	$.datepicker.setDefaults({dateFormat: js_dateformat(my_vars.edit_announcement.date_format)});

	$('.remove_nested_fields').on 'click', () ->
		ac_delete = window.confirm("Are you sure you want to remove this announcement?")
		if(ac_delete)
			$(this).prev('[id$=_destroy]').val(true);
			$(this).parent('form').submit();		
			true
		else
			false

	# Show character count while filling in field.
	setup_note_counter = (field) ->
		field.find('input, textarea').simplyCountable({
			counter: field.find('.char_count'),
			maxCount: my_vars.edit_announcement.max_lengths[field.attr('data-i')],
			valueLength: my_vars.edit_profile.text_area_value_length
		})

	update_preview = (i_num, position_changed) ->
		position_changed ||= false
		classes = $("#radio_button_set_announcement_" + i_num + " :radio:checked + label").attr('class')
		icon = 'announcement'

		if classes
			# Find announcement icon classes. Filter out other classes.
			preview_classes = classes.split(/\s+/).filter (el) ->
				my_vars.edit_announcement.icons_set.indexOf(el) >= 0
			icon = preview_classes[0] if preview_classes.length > 0

		link_text = $('.search-result-announcement-area input#link_to_preview_' + i_num).val().trim().substring(0, 50).trim()

		position = $("select#position_to_preview_" + i_num).val()
		# Announcement moved to center
		if(position == '0')
			announcement = $('#preview-area-' + i_num + ' section.announcements a')
			if position_changed
				second_announcement = $('#preview-area-' + i_num + ' aside.more.announcements')
				second_announcement_class = announcement.attr('class') + " more announcements"
				second_announcement.attr('class', second_announcement_class)
				second_announcement.find('a').text(announcement.text())
				if announcement.text().trim() == ''
					second_announcement.hide()
			announcement.text(link_text).attr('class', icon)
		# Announcement moved to upper right
		else
			announcement = $('#preview-area-' + i_num + ' aside.more.announcements')
			if position_changed
				second_announcement = $('#preview-area-' + i_num + ' section.announcements a')
				second_announcement_class = announcement.attr('class').replace("more announcements", "").trim()
				second_announcement.text(announcement.text()).attr('class', second_announcement_class)
				if announcement.text().trim() == ''
					second_announcement.hide()
			announcement.attr('class', icon + ' more announcements')
			announcement.find('a').text(link_text)

		if link_text != ''
			announcement.show();
		else
			announcement.hide()

	$ ->
		$('.date_field input').datepicker();

		$('[id^=radio_button_set_]').buttonset();

		$('.countable').each -> setup_note_counter $(this)

		# Update Preview, when "Search result link text" is updated
		$("input[id^='link_to_preview_']").on 'keyup', () ->
			i_num = $(@).closest('form').attr('data-i').trim();
			update_preview(i_num)

		# Update Preview, when "Position" is updated
		$("select[id^='position_to_preview_']").on 'change', (e) ->
			i_num = $(@).closest('form').attr('data-i').trim();
			update_preview(i_num, true)

		# Update Preview, when "Icon" is updated
		$(".radio_button_set :radio").on 'change', (e) ->
			i_num = $(@).closest('form').attr('data-i').trim();
			update_preview(i_num)

		# Announcements formlet uses nested formlets. Open formlet event is lost when formlet content replaced after formlet update.
		# Re-bind formlet open event.
		$('#announcements .formlet').addClass('open-formlet-popover').on 'click', my_vars.f.open_formlet
		$('#announcements .formlet').each -> my_vars.f.configure_formlet this

		$('#announcements .show-more').shorten({showChars: 300})
		$('#announcements a.morelink').addClass('dont_popover')
