- formlet = 'availability_service_area'
%th
	%span.editable= t 'views.profile.view.availability_service_area_html'
%td
	- if @profile.errorfree.availability_service_area_note.present?
		%p.text_area.attribute_display= profile_display_text @profile.errorfree.availability_service_area_note, preserve: true, links: true
	%p.list.attribute_display
		- availability_and_consultation_modes = @profile.errorfree.availability_and_consultation_modes
		- if availability_and_consultation_modes.present?
			%span.note=  t 'views.profile.edit.for_search_only'
			%br
			= display_wrapped_names availability_and_consultation_modes
		- elsif @profile.errorfree.availability_service_area_note.present?
			%span.note=  t 'views.profile.edit.availability_and_consultation_modes_blank'
	.edit.popover
		= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
			= f.error_messages
			= hidden_field_tag 'formlet', formlet
			.text_field#availability_service_area_note_field
				%span.char_count
				= f.label :availability_service_area_note
				= f.text_area :availability_service_area_note, size: '50x5', class: 'attr'
				%p.note= t 'views.profile.edit.availability_service_area_note_example_html'
			.check_boxes.stacked
				= f.label :availability_service_area, t('views.profile.edit.check_box_search_only_prompt_html')
				%br
				- Profile::CONSULTATION_MODES.each do |attribute|
					.check_box
						= f.check_box attribute
						= f.label attribute
				.check_box
					= f.check_box :consult_remotely
					= f.label :consult_remotely, t('views.profile.edit.consult_remotely')
				.check_box
					= f.check_box :accepting_new_clients
					= f.label :accepting_new_clients
			.buttons
				= f.submit t('views.profile.edit.submit'), disable_with: t('views.profile.edit.submit_disable'), class: 'save'
				= link_to t('views.profile.edit.cancel'), '#', class: 'cancel button'

:coffeescript
	# Show character count while filling in field.
	$('#availability_service_area_note_field textarea').simplyCountable({counter: '#availability_service_area_note_field .char_count', maxCount: my_vars.edit_profile.max_lengths.availability_service_area_note, valueLength: my_vars.edit_profile.text_area_value_length})
