- formlet = 'availability_service_area'
%h3.editable= Profile.human_attribute_name :availability_service_area_note
%p.text_area.attribute_display= profile_display_text @profile.errorfree.availability_service_area_note, preserve: true, links: true
.edit.popover
	= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
		= f.error_messages
		= hidden_field_tag 'formlet', formlet
		.text_field#availability_service_area_note_field
			%span.char_count
			= f.label :availability_service_area_note
			= f.text_area :availability_service_area_note, size: '50x5', class: 'attr'
			%p.note= t 'views.profile.edit.availability_service_area_note_example_html'
		.buttons
			= f.submit t('views.profile.edit.submit'), disable_with: t('views.profile.edit.submit_disable'), class: 'save'
			= link_to t('views.profile.edit.cancel'), '#', class: 'cancel button'

:coffeescript
	# Show character count while filling in field.
	$('#availability_service_area_note_field textarea').simplyCountable({counter: '#availability_service_area_note_field .char_count', maxCount: my_vars.edit_profile.max_lengths.availability_service_area_note, valueLength: my_vars.edit_profile.text_area_value_length})
