- formlet = 'certifications'
%h3.editable= Profile.human_attribute_name :certifications
%p.attribute_display= profile_display_text @profile.errorfree.certifications, serialize: true, links: true
.edit.popover
	= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
		= f.error_messages
		= hidden_field_tag 'formlet', formlet
		.text_field#certifications_field
			%span.char_count
			= f.label :certifications
			= f.text_field :certifications, class: 'attr'
			%p.note= t 'views.profile.edit.certifications_example'
		= f.submit t('views.profile.edit.submit'), disable_with: t('views.profile.edit.submit_disable'), class: 'save'
		= link_to t('views.profile.edit.cancel'), '#', class: 'cancel button'

:coffeescript
	# Show character count while filling in field.
	$('#certifications_field input').simplyCountable({counter: '#certifications_field .char_count', maxCount: my_vars.edit_profile.max_lengths.certifications})
