.edit.popover
	= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
		= f.error_messages
		= hidden_field_tag 'formlet', formlet
		#consultations
			= f.label :consultations, t('views.profile.consultation_modes_title')
			%br
			.check_box
				= f.check_box :consult_by_email
				= f.label :consult_by_email, "Email"
			.check_box
				= f.check_box :consult_by_phone
				= f.label :consult_by_phone, "Phone"
			.check_box
				= f.check_box :consult_by_video
				= f.label :consult_by_video, "Video"
			.check_box
				= f.check_box :consult_in_person
				= f.label :consult_in_person, "Office"
			.check_box
				= f.check_box :consult_in_group
				= f.label :consult_in_group, "Group"
			.check_box
				= f.check_box :visit_home
				= f.label :visit_home, "Home"
			.check_box
				= f.check_box :visit_school
				= f.label :visit_school, "School"
			.check_box
				= f.check_box :consult_at_hospital
				= f.label :consult_at_hospital, "Hospital"
			.check_box
				= f.check_box :consult_at_camp
				= f.label :consult_at_camp, "Camp"
		= f.submit 'Save', disable_with: 'Saving...', class: 'save'
		= link_to 'Cancel', '#', class: 'cancel button'
%ul.contact-toolbar.editable
	- unless profile_has_consultation_mode @profile
		%li= profile_blank_attribute_message t('views.profile.consultation_modes_title')
	%li#consult_by_email= profile_contact_icon_element :consult_by_email, @profile
	%li#consult_by_phone= profile_contact_icon_element :consult_by_phone, @profile
	%li#consult_by_video= profile_contact_icon_element :consult_by_video, @profile
	%li#consult_in_person= profile_contact_icon_element :consult_in_person, @profile
	%li#consult_in_group= profile_contact_icon_element :consult_in_group, @profile
	%li#visit_home= profile_contact_icon_element :visit_home, @profile
	%li#visit_school= profile_contact_icon_element :visit_school, @profile
	%li#consult_at_hospital= profile_contact_icon_element :consult_at_hospital, @profile
	%li#consult_at_camp= profile_contact_icon_element :consult_at_camp, @profile
	%li#appointment
		%a{href: "#"} Make an appointment
