- formlet = 'contact_options'
.edit.popover
	= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
		= f.error_messages
		= hidden_field_tag 'formlet', formlet
		#consultations
			= f.label :consultations, t('views.profile.edit.consultation_modes_title')
			%br
			.check_box
				= f.check_box :consult_by_email
				= f.label :consult_by_email
			.check_box
				= f.check_box :consult_by_phone
				= f.label :consult_by_phone
			.check_box
				= f.check_box :consult_by_video
				= f.label :consult_by_video
			.check_box
				= f.check_box :consult_in_person
				= f.label :consult_in_person
			.check_box
				= f.check_box :consult_in_group
				= f.label :consult_in_group
			.check_box
				= f.check_box :visit_home
				= f.label :visit_home
			.check_box
				= f.check_box :visit_school
				= f.label :visit_school
			.check_box
				= f.check_box :consult_at_hospital
				= f.label :consult_at_hospital
			.check_box
				= f.check_box :consult_at_camp
				= f.label :consult_at_camp
			.check_box
				= f.check_box :consult_at_other
				= f.label :consult_at_other
		.check_box
			= f.check_box :consult_remotely
			= f.label :consult_remotely, t('views.profile.edit.consult_remotely')
		= f.submit t('views.profile.edit.submit'), disable_with: t('views.profile.edit.submit_disable'), class: 'save'
		= link_to t('views.profile.edit.cancel'), '#', class: 'cancel button'
%ul.contact-toolbar.editable.attribute_display
	- unless profile_has_consultation_mode @profile.errorfree
		%li= profile_blank_attribute_message t('views.profile.edit.consultation_modes_title')
	%li.consult_by_email= profile_contact_icon_element :consult_by_email, @profile.errorfree
	%li.consult_by_phone= profile_contact_icon_element :consult_by_phone, @profile.errorfree
	%li.consult_by_video= profile_contact_icon_element :consult_by_video, @profile.errorfree
	%li.consult_in_person= profile_contact_icon_element :consult_in_person, @profile.errorfree
	%li.consult_in_group= profile_contact_icon_element :consult_in_group, @profile.errorfree
	%li.visit_home= profile_contact_icon_element :visit_home, @profile.errorfree
	%li.visit_school= profile_contact_icon_element :visit_school, @profile.errorfree
	%li.consult_at_hospital= profile_contact_icon_element :consult_at_hospital, @profile.errorfree
	%li.consult_at_camp= profile_contact_icon_element :consult_at_camp, @profile.errorfree
	%li.consult_at_other= profile_contact_icon_element :consult_at_other, @profile.errorfree
	%li.appointment
		%a{href: "#"} Make an appointment
