.edit.popover
	- if @profile.display_name.blank?
		%span.note= t 'views.profile.edit.display_name_blank'
	= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
		= f.error_messages
		= hidden_field_tag 'formlet', formlet
		.text_field
			= f.label :first_name
			= f.text_field :first_name, id: 'profile_first_name', class: 'display_name_field'
		.text_field
			= f.label :middle_name
			= f.text_field :middle_name, id: 'profile_middle_name', class: 'display_name_field'
		.text_field
			= f.label :last_name
			= f.text_field :last_name, id: 'profile_last_name', class: 'display_name_field'
		.text_field
			= f.label :credentials
			= f.text_field :credentials, id: 'profile_credentials', class: 'display_name_field'
		.display_name_area
			= f.label :display_name
			%span.display_name
				= profile_display_name @profile
		= f.submit 'Save', disable_with: 'Saving...', class: 'save'
		= link_to 'Cancel', '#', class: 'cancel button'
%h1.editable.attribute_display{itemprop: "name"}
	= @profile.errorfree.display_name_or_company.presence || profile_blank_attribute_message(t 'views.profile.edit.display_name_or_company_blank')
:coffeescript
	# Refresh display name as contributing input tags are modified.
	refresh_display_name = () ->
		$('##{formlet} span.display_name').text profile_display_name($('#profile_first_name').val(), $('#profile_middle_name').val(), $('#profile_last_name').val(), $('#profile_credentials').val())
	$('.display_name_field').keyup (e) -> refresh_display_name()
