- formlet = 'email'
%span.email_icon.editable.attribute_display
	= profile_linked_email @profile.errorfree, @profile.errorfree.email, Profile.human_attribute_name(:email)
- if @profile.errorfree.email.blank?
	%span.info.tooltip{:href => "#"}
		
		.help_popover= t 'views.profile.view.email_edit_help'
.edit.popover
	= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
		= f.error_messages
		= hidden_field_tag 'formlet', formlet
		.text_field#email_field
			%span.char_count
			= f.label :email
			= f.text_field :email
			%p.note= t 'views.profile.edit.email_example'
			%p.note= t 'views.profile.edit.email_hide_note'
		= f.submit t('views.profile.edit.submit'), disable_with: t('views.profile.edit.submit_disable'), class: 'save'
		= link_to t('views.profile.edit.cancel'), '#', class: 'cancel button'

:coffeescript
	# Show character count while filling in fields.
	for attribute in ['email']
		$('#'+attribute+'_field input').simplyCountable({counter: '#'+attribute+'_field .char_count', maxCount: my_vars.edit_profile.max_lengths[attribute]})
