- profile ||= @profile
- country ||= default_profile_country
.profile_areas
	.basic_profile
		.name
			%span
				= image_tag("required_field_icon.png", class: 'required_field_icon')
				= f.label :first_name, 'First name'
				= f.text_field :first_name, id: 'profile_first_name', class: 'display_name_field'
			%span
				= f.label :middle_name, 'Middle name or initial'
				= f.text_field :middle_name, id: 'profile_middle_name', class: 'display_name_field'
			%span
				= image_tag("required_field_icon.png", class: 'required_field_icon')
				= f.label :last_name, 'Last name'
				= f.text_field :last_name, id: 'profile_last_name', class: 'display_name_field'
		.credentials
			= f.label :credentials, "Degrees/credentials"
			= f.text_field :credentials, id: 'profile_credentials', class: 'display_name_field'
		.display_name_area
			Display name
			%span.display_name
				= profile_display_name profile
		.email
			= f.label :email, "Public email"
			= f.text_field :email
		.company_name
			= f.label :company_name, 'Company name'
			= f.text_field :company_name
		.url
			= f.label :url, 'Website'
			= f.text_field :url
		.headline
			= f.label :headline, "Professional headline as you'd like it to appear"
			= f.text_field :headline, size: 50
	.location_contact_profile
		.address
			= f.label :address1, "Address"
			= f.text_field :address1
			= f.text_field :address2
		.city_state
			= f.label :region, "City"
			= f.text_field :city
			= f.label :region, "State"
			= f.text_field :region, size: 2
		.postal_code
			= f.label :postal_code, "Zip code"
			= f.text_field :postal_code
			= f.hidden_field :country, value: country
		.mobile_phone
			= f.label :mobile_phone, "Mobile"
			= f.text_field :mobile_phone
		.office_phone
			= f.label :office_phone, "Office"
			= f.text_field :office_phone
	.categories_specialties_profile
		.categories
			Categories
			%br
			= profile_categories_hidden_field_tag(f)
			- profile_predefined_categories.each do |category|
				.check_box
					= profile_categories_check_box_tag(profile, category, f)
					= category
		.custom_categories
			Additional categories
			= button_tag id: 'add_custom_categories_text_field' do
				= content_tag :strong, '+ Add'
			%br
			= profile_custom_categories_hidden_field_tag(f)
			- i = 0; profile.categories.each do |category|
				- unless profile_predefined_categories.include?(category)
					.text_field
						= profile_custom_categories_text_field_tag(profile, category, "#{i = i+1}", f)
			.text_field
				= profile_custom_categories_text_field_tag(profile, '', "#{i = i+1}", f)
			- @profile_custom_categories_i = i
			- @profile_custom_categories_text_field_template = profile_custom_categories_text_field_tag(profile, '', 'INDEX', f)
		.specialties
			Specialties
			%br
			= profile_specialties_hidden_field_tag(f)
			%span.predefined_specialties
		.custom_specialties
			Additional specialties
			= button_tag id: 'add_custom_specialties_text_field' do
				= content_tag :strong, '+ Add'
			%br
			= profile_custom_specialties_hidden_field_tag(f)
			- i = 0; profile.specialties.each do |specialty|
				- unless profile_predefined_specialties.include?(specialty)
					.text_field
						= profile_custom_specialties_text_field_tag(profile, specialty, "#{i = i+1}", f)
			.text_field
				= profile_custom_specialties_text_field_tag(profile, '', "#{i = i+1}", f)
			- @profile_custom_specialties_i = i
			- @profile_custom_specialties_text_field_template = profile_custom_specialties_text_field_tag(profile, '', 'INDEX', f)
	.professional_profile
		.age_ranges
			= f.label :age_range_ids, "Ages"
			= f.collection_select(:age_range_ids, AgeRange.all, :id, :name, {}, multiple: true)
			%span.note
				Hold down the Ctrl (Windows) / Command (Mac) button to select multiple options.
		.education
			= f.label :education, "Education"
			= f.text_area :education, size: '50x5'
		.experience
			= f.label :experience, "Professional experience"
			= f.text_area :experience, size: '50x5'
		.certifications
			= f.label :certifications, "Licenses, certifications"
			= f.text_field :certifications
		.awards
			= f.label :awards, "Honors and awards"
			= f.text_area :awards, size: '50x5'
		.languages
			= f.label :languages, "Languages"
			= f.text_field :languages
		.summary
			= f.label :summary, "Summary"
			= f.text_area :summary, size: '50x8'
		.insurance_accepted
			= f.label :insurance_accepted, "Insurance accepted"
			= f.check_box :insurance_accepted
:coffeescript
	# Add extra text input tags for custom categories.
	profile_custom_categories_i = #{@profile_custom_categories_i}
	$('#add_custom_categories_text_field').click (e) ->
		e.preventDefault()
		$('.custom_categories').append '<div class="text_field">'+'#{escape_javascript @profile_custom_categories_text_field_template}'.replace('INDEX', String(++profile_custom_categories_i))+'</div>'
	
	# Refresh display name as contributing input tags are modified.
	refresh_display_name = () ->
		$('.display_name').html profile_display_name($('#profile_first_name').val(), $('#profile_middle_name').val(), $('#profile_last_name').val(), $('#profile_credentials').val())
	$('.display_name_field').keyup (e) ->
		refresh_display_name()
	
	# Show specialties check boxes that belong to the checked categories.
	profile_categories_specialties_map = #{profile_categories_specialties_map.to_json}
	profile_specialties_check_box_tag_cache = #{profile_specialties_check_box_tag_cache(profile, f).to_json}
	show_specialties_check_boxes = ->
		specs = []
		$('.categories .check_box input').each ->
			if $(this).attr('checked')
				cat_specs = profile_categories_specialties_map[$(this).val()]
				if cat_specs
					specs.push spec for spec in cat_specs when spec not in specs
			true
		specs.push spec for spec in #{profile.specialties.to_json} when spec not in specs and spec of profile_specialties_check_box_tag_cache
		boxes = $('.predefined_specialties')
		boxes.empty()
		if specs.length > 0
			specs.sort()
			boxes.append '<div class="check_box">'+profile_specialties_check_box_tag_cache[spec]+' '+spec+'</div>' for spec in specs
		else
			boxes.append '<div class="notice">Choose a category and we\'ll show you a list of specialties.</div>'
	show_specialties_check_boxes()
	# Redisplay specialties choices when categories are changed.
	$('.categories .check_box input').change (e) ->
		show_specialties_check_boxes()
	
	# Add extra text input tags for custom specialties.
	profile_custom_specialties_i = #{@profile_custom_specialties_i}
	$('#add_custom_specialties_text_field').click (e) ->
		e.preventDefault()
		$('.custom_specialties').append '<div class="text_field">'+'#{escape_javascript @profile_custom_specialties_text_field_template}'.replace('INDEX', String(++profile_custom_specialties_i))+'</div>'
