- profile ||= @profile
- country = default_profile_country if country.blank?
- @page_title = profile_page_title profile
.profile_areas
	.basic_profile
		.name
			Name
			%br
			.text_field
				= f.label :first_name, 'First name'
				= f.text_field :first_name, id: 'profile_first_name', class: 'display_name_field'
			.text_field
				= f.label :middle_name, 'Middle name or initial'
				= f.text_field :middle_name, id: 'profile_middle_name', class: 'display_name_field'
			.text_field
				= f.label :last_name, 'Last name'
				= f.text_field :last_name, id: 'profile_last_name', class: 'display_name_field'
			.text_field
				= f.label :credentials, "Degrees/credentials"
				= f.text_field :credentials, id: 'profile_credentials', class: 'display_name_field'
		.display_name_area
			Display name
			%span.display_name
				= profile_display_name profile
		.email
			= f.label :email, "Public email"
			= f.text_field :email
		.company_name
			= f.label :company_name, 'Company name'
			= f.text_field :company_name
		.url
			= f.label :url, 'Website'
			= f.text_field :url
		.headline
			= f.label :headline, "Professional headline as you'd like it to appear"
			= f.text_field :headline, size: 50
		.mobile_phone
			= f.label :mobile_phone, "Mobile"
			= f.text_field :mobile_phone
		.office_phone
			= f.label :office_phone, "Office"
			= f.text_field :office_phone
	= f.fields_for :locations do |lf|
		.location_contact_profile
			.address
				= lf.label :address1, "Address"
				= lf.text_field :address1
				= lf.text_field :address2
			.city_state
				= lf.label :city, "City"
				= lf.text_field :city
				= lf.label :region, "State"
				= lf.text_field :region, size: 2
			.postal_code
				= lf.label :postal_code, "Zip code"
				= lf.text_field :postal_code
				= lf.hidden_field :country, value: country
			- if current_user.profile_editor?
				.search_area_tag
					= f.label :search_area_tag_id, "Region for search"
					= lf.collection_select :search_area_tag_id, SearchAreaTag.all, :id, :name, {include_blank: '--'}, id: 'search_area_tag'
	.expertise_profile
		.categories
			= f.label :category, "Category", class: 'required'
			%br
			= profile_categories_hidden_field_tag(f)
			- profile_category_choices(profile).each do |category|
				.check_box
					= profile_categories_check_box_tag(profile, category, f)
					= category.name
		.services
			= f.label :services, "Services"
			%br
			%span.predefined_services
		.custom_services
			Additional services
			= button_tag id: 'add_custom_services_text_field' do
				= content_tag :strong, '+ Add'
			%br
			= profile_custom_services_hidden_field_tag(f)
			- i = 0; profile_new_custom_services(profile).each do |svc|
				.text_field
					= profile_custom_services_autocomplete_field_tag(profile, svc.name, "#{i = i+1}", f)
			.text_field
				= profile_custom_services_autocomplete_field_tag(profile, '', "#{i = i+1}", f)
			- @profile_custom_services_i = i
			- @profile_custom_services_text_field_template = profile_custom_services_autocomplete_field_tag(profile, '', 'INDEX', f)
		.specialties
			= f.label :specialties, "Specialties"
			%br
			%span.predefined_specialties
		.custom_specialties
			Additional specialties
			= button_tag id: 'add_custom_specialties_text_field' do
				= content_tag :strong, '+ Add'
			%br
			= profile_custom_specialties_hidden_field_tag(f)
			- i = 0; profile_new_custom_specialties(profile).each do |specialty|
				.text_field
					= profile_custom_specialties_text_field_tag(profile, specialty.name, "#{i = i+1}", f)
			.text_field
				= profile_custom_specialties_text_field_tag(profile, '', "#{i = i+1}", f)
			- @profile_custom_specialties_i = i
			- @profile_custom_specialties_text_field_template = profile_custom_specialties_text_field_tag(profile, '', 'INDEX', f)
		.specialties_description
			= f.label :specialties_description, "My specialties"
			= f.text_area :specialties_description, size: '25x4'
		.age_ranges
			Ages/stages of clients/children (check all that apply):
			%br
			= profile_age_ranges_hidden_field_tag(f)
			- AgeRange.all.sort_by(&:sort_index).each do |age_range|
				.check_box
					= profile_age_ranges_check_box_tag(profile, age_range, f)
					= age_range.name
	.professional_profile
		.accepting_new_clients
			.check_box
				= f.check_box :accepting_new_clients
				= f.label :accepting_new_clients, "Accepting new clients"
		.consultations
			.check_box
				= f.check_box :consult_by_email
				= f.label :consult_by_email, "Email consultations"
			.check_box
				= f.check_box :consult_by_phone
				= f.label :consult_by_phone, "Phone consultations"
			.check_box
				= f.check_box :consult_by_video
				= f.label :consult_by_video, "Video consultations"
			.check_box
				= f.check_box :consult_in_person
				= f.label :consult_in_person, "In-person consultations"
		.visits
			.check_box
				= f.check_box :visit_home
				= f.label :visit_home, "Home visits"
			.check_box
				= f.check_box :visit_school
				= f.label :visit_school, "School visits"
		.education
			.label_area
				= f.label :education, "Education"
			= f.text_area :education, size: '50x5'
		.certifications
			.label_area
				= f.label :certifications, "Licenses, certifications"
			= f.text_field :certifications
		.languages
			.label_area
				= f.label :languages, "Languages"
			= f.text_field :languages
		.insurance_accepted
			.label_area
				= f.label :insurance_accepted, "Health insurance accepted"
			= f.text_area :insurance_accepted, size: '50x5'
		.summary
			.label_area
				= f.label :summary, "Summary"
			= f.text_area :summary, size: '50x8'
		.rates
			.label_area
				= f.label :rates, "Rates"
				%span.note.text_area= preserve "\nExample:\n$1/minute\n$40/15 minutes\n$120/hour\nor monthly subscription"
			= f.text_area :rates, size: '50x5'
		.availability
			.label_area
				= f.label :availability, "Next available appointments"
			= f.text_area :availability, size: '30x5'
		.office_hours
			.label_area
				= f.label :office_hours, "Office hours"
			= f.text_area :office_hours, size: '30x5'
		.phone_hours
			.label_area
				= f.label :phone_hours, "Phone consultation hours"
			= f.text_area :phone_hours, size: '30x5'
		.video_hours
			.label_area
				= f.label :video_hours, "Video consultation hours"
			= f.text_area :video_hours, size: '30x5'
	- if current_user.admin?
		.admin_options
			= profile_publish_check_box @profile
			Check to publish

:javascript
	window.edit_profile = {
		parents: {}, maps: {}, names: {}, ids_names: {},
		check_box_caches: {}, check_box_templates: {}, hidden_field_tags: {},
		prompts: {}
	};
	// categories -> services
	edit_profile.parents['services'] = 'categories';
	edit_profile.check_box_caches['services'] = 
		#{profile_services_check_box_cache(profile, 'check_box', f).to_json};
	edit_profile.check_box_templates['services'] = 
		"#{escape_javascript profile_services_check_box(profile, '_ID_', '_NAME_', false, 'check_box', f)}";
	var info = #{profile_categories_services_info(profile).to_json};
	edit_profile.maps['services'] = info[0];
	edit_profile.names['services'] = info[1];
	edit_profile.ids_names['services'] = #{profile.service_ids_names.to_json};
	edit_profile.hidden_field_tags['services'] = 
		"#{escape_javascript profile_services_hidden_field_tag(f)}";
	edit_profile.prompts['services'] = 
		"#{escape_javascript content_tag(:div, 'Choose a category and we\'ll show you a list of services.', class: 'notice')}";
	// services -> specialties
	edit_profile.parents['specialties'] = 'services';
	edit_profile.check_box_caches['specialties'] = 
		#{profile_specialties_check_box_cache(profile, 'check_box', f).to_json};
	edit_profile.check_box_templates['specialties'] = 
		"#{escape_javascript profile_specialties_check_box(profile, '_ID_', '_NAME_', false, 'check_box', f)}";
	var info = #{profile_services_specialties_info(profile).to_json};
	edit_profile.maps['specialties'] = info[0];
	edit_profile.names['specialties'] = info[1];
	edit_profile.ids_names['specialties'] = #{profile.specialty_ids_names.to_json};
	edit_profile.hidden_field_tags['specialties'] = 
		"#{escape_javascript profile_specialties_hidden_field_tag(f)}";
	edit_profile.prompts['specialties'] = 
		"#{escape_javascript content_tag(:div, 'Choose a service and we\'ll show you a list of specialties.', class: 'notice')}";

:coffeescript
	# Refresh display name as contributing input tags are modified.
	refresh_display_name = () ->
		$('.display_name').text profile_display_name($('#profile_first_name').val(), $('#profile_middle_name').val(), $('#profile_last_name').val(), $('#profile_credentials').val())
	$('.display_name_field').keyup (e) ->
		refresh_display_name()
	
	# Show check boxes for children that belong to the currently checked parents.
	# In addition, always show check boxes for children that were originally checked (i.e., are currently persisted).
	show_check_boxes = (children) ->
		choices = {}
		$('.'+edit_profile.parents[children]+' .check_box input:checked').each ->
			ids = edit_profile.maps[children][$(this).val()]
			if ids
				choices[edit_profile.names[children][id]] = id for id in ids
			true
		choices[id_name.name] = id_name.id for id_name in edit_profile.ids_names[children]
		boxes = $('.predefined_'+children)
		$('.check_box', boxes).each ->
			edit_profile.check_box_caches[children][$('input', this).val()] = this
		boxes.empty()
		boxes.append edit_profile.hidden_field_tags[children]
		names = Object.keys(choices)
		if names.length > 0
			for name in names.sort((a, b) -> a.toLowerCase().localeCompare(b.toLowerCase()))
				id = choices[name]
				check_box = edit_profile.check_box_caches[children][id] || edit_profile.check_box_templates[children].replace(/_ID_/g, id).replace(/_NAME_/g, name)
				boxes.append check_box
		else
			boxes.append edit_profile.prompts[children]
		# If redisplaying services, we may have a new set of check boxes to monitor.
		if children == 'services'
			$('.services .check_box input').change (e) ->
				show_check_boxes('specialties')
	
	# When a category is changed, redisplay all descendent choices.
	$('.categories .check_box input').change (e) ->
		show_check_boxes('services')
		show_check_boxes('specialties')
	
	# Show check boxes for services.
	show_check_boxes('services')
	# Show check boxes for specialties.
	show_check_boxes('specialties')
	
	# Add extra text input tags for custom services.
	profile_custom_services_i = #{@profile_custom_services_i}
	$('#add_custom_services_text_field').click (e) ->
		e.preventDefault()
		$('.custom_services').append '<div class="text_field">'+'#{escape_javascript @profile_custom_services_text_field_template}'.replace('INDEX', String(++profile_custom_services_i))+'</div>'
		$('.custom_services input:last').focus()
	
	# Add extra text input tags for custom specialties.
	profile_custom_specialties_i = #{@profile_custom_specialties_i}
	$('#add_custom_specialties_text_field').click (e) ->
		e.preventDefault()
		$('.custom_specialties').append '<div class="text_field">'+'#{escape_javascript @profile_custom_specialties_text_field_template}'.replace('INDEX', String(++profile_custom_specialties_i))+'</div>'
		$('.custom_specialties input:last').focus()
