%th
	%span.editable= Profile.human_attribute_name(:hours)
%td
	- if @profile.errorfree.hours.present?
		%p.text_area.attribute_display= profile_display_text @profile.errorfree.hours, preserve: true, links: true
	%p.list.attribute_display
		- for_search_only = @profile.errorfree.human_attribute_names_if_present :evening_hours_available, :weekend_hours_available
		- if for_search_only.present?
			%span.note=  t 'views.profile.edit.for_search_only'
			%br
			= display_wrapped_names for_search_only
		- elsif @profile.errorfree.hours.present?
			%span.note=  t 'views.profile.edit.for_search_only_blank'
	.edit.popover
		= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
			= f.error_messages
			= hidden_field_tag 'formlet', formlet
			.text_field#hours_field
				%span.char_count
				= f.label :hours
				= f.text_area :hours, size: '45x5', class: 'attr'
				%p.note= t 'views.profile.edit.hours_example_html'
			.check_boxes.stacked
				= f.label :hours_check_boxes, t('views.profile.edit.check_box_search_only_prompt_html')
				%br
				.check_box
					= f.check_box :evening_hours_available
					= f.label :evening_hours_available
				.check_box
					= f.check_box :weekend_hours_available
					= f.label :weekend_hours_available
			.buttons
				= f.submit 'Save', disable_with: 'Saving...', class: 'save'
				= link_to 'Cancel', '#', class: 'cancel button'

:coffeescript
	# Show character count while filling in field.
	$('#hours_field textarea').simplyCountable({counter: '#hours_field .char_count', maxCount: my_vars.edit_profile.max_lengths.hours, valueLength: my_vars.edit_profile.text_area_value_length})
