- formlet = 'insurance_accepted'
%h3.editable= Profile.human_attribute_name :insurance_accepted
%p.attribute_display= profile_display_text @profile.errorfree.insurance_accepted, serialize: true, links: true
.edit.popover
	= form_for [:formlet_update, @profile], remote: true, html: {id: "edit-#{formlet}"} do |f|
		= f.error_messages
		= hidden_field_tag 'formlet', formlet
		.text_field#insurance_accepted_field
			%span.char_count
			= f.label :insurance_accepted, t('views.profile.view.insurance_accepted')
			= f.text_area :insurance_accepted, size: '45x5', class: 'attr'
			%p.note= t 'views.profile.edit.insurance_accepted_example'
			%p.note= t 'views.profile.edit.insurance_accepted_tip'
		= f.submit t('views.profile.edit.submit'), data: { disable_with: t('views.profile.edit.submit_disable') }, class: 'save'
		= link_to t('views.profile.edit.cancel'), '#', class: 'cancel button'

:coffeescript
	# Show character count while filling in field.
	$('#insurance_accepted_field textarea').simplyCountable({counter: '#insurance_accepted_field .char_count', maxCount: my_vars.edit_profile.max_lengths.insurance_accepted, valueLength: my_vars.edit_profile.text_area_value_length})
