%th
	%span.editable= Profile.human_attribute_name(:insurance_accepted)
%td
	%span.attribute_display= profile_display_text @profile.errorfree.insurance_accepted, serialize: true, links: true
	.edit.popover
		= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
			= f.error_messages
			= hidden_field_tag 'formlet', formlet
			.text_field#insurance_accepted_field
				%span.char_count
				= f.label :insurance_accepted
				= f.text_area :insurance_accepted, size: '45x5', class: 'attr'
				%p.note= t 'views.profile.edit.insurance_accepted_example'
				%p.note= t 'views.profile.edit.insurance_accepted_tip'
			= f.submit 'Save', disable_with: 'Saving...', class: 'save'
			= link_to 'Cancel', '#', class: 'cancel button'

:coffeescript
	# Show character count while filling in field.
	$('#insurance_accepted_field textarea').simplyCountable({counter: '#insurance_accepted_field .char_count', maxCount: my_vars.edit_profile.max_lengths.insurance_accepted, valueLength: my_vars.edit_profile.text_area_value_length})
