- formlet = 'internet'
.edit.popover
	= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
		= f.error_messages
		= hidden_field_tag 'formlet', formlet
		.text_field#url_field
			%span.char_count
			= f.label :url
			= f.text_field :url
			%p.note= t 'views.profile.edit.url_example'
		.text_field#email_field
			%span.char_count
			= f.label :email
			= f.text_field :email
			%p.note= t 'views.profile.edit.email_example'
		= f.submit t('views.profile.edit.submit'), disable_with: t('views.profile.edit.submit_disable'), class: 'save'
		= link_to t('views.profile.edit.cancel'), '#', class: 'cancel button'
%span.location.editable.attribute_display{itemprop: "url"}
	= t 'views.profile.view.url'
	= profile_display_website @profile.errorfree, Profile.human_attribute_name(:url)
%span.location.editable.attribute_display{itemprop: "email"}
	= t 'views.profile.view.email'
	= profile_display_email @profile.errorfree, Profile.human_attribute_name(:email)

:coffeescript
	# Show character count while filling in fields.
	for attribute in ['url', 'email']
		$('#'+attribute+'_field input').simplyCountable({counter: '#'+attribute+'_field .char_count', maxCount: my_vars.edit_profile.max_lengths[attribute]})
