.edit.popover
	= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
		= f.error_messages
		= hidden_field_tag 'formlet', formlet
		= hidden_field_tag 'refresh_formlets', "#{formlet} display_name"
		.text_field
			= f.label :headline
			= f.text_field :headline
		.text_field
			= f.label :company_name
			= f.text_field :company_name
		= f.submit 'Save', disable_with: 'Saving...', class: 'save'
		= link_to 'Cancel', '#', class: 'cancel button'
%span.title.editable{itemprop: "jobTitle"}
	= @profile.errorfree.headline.presence || profile_blank_attribute_message(Profile.human_attribute_name :headline)
%span.title.editable{itemprop: "affiliation"}
	= @profile.errorfree.company_name.presence || profile_blank_attribute_message(Profile.human_attribute_name :company_name)
