- formlet = 'job'
.edit.popover
	= form_for [:formlet_update, @profile], remote: true, html: {id: "edit-#{formlet}"} do |f|
		= f.error_messages
		= hidden_field_tag 'formlet', formlet
		= hidden_field_tag 'refresh_formlets', "display_name"
		.text_field#headline_field
			%span.char_count
			= f.label :headline
			= f.text_field :headline
			%p.note= t 'views.profile.edit.headline_example'
		.text_field#company_name_field
			%span.char_count
			= f.label :company_name
			= f.text_field :company_name
			%p.note= t 'views.profile.edit.company_name_example'
		= f.submit t('views.profile.edit.submit'), data: { disable_with: t('views.profile.edit.submit_disable') }, class: 'save'
		= link_to t('views.profile.edit.cancel'), '#', class: 'cancel button'
%span.title.editable.attribute_display{itemprop: "jobTitle"}
	= @profile.errorfree.headline.presence || profile_blank_attribute_message(Profile.human_attribute_name :headline)
%span.title.editable.attribute_display{itemprop: "affiliation"}
	= @profile.errorfree.company_name.presence || profile_blank_attribute_message(Profile.human_attribute_name :company_name)

:coffeescript
	# Show character count while filling in fields.
	for attribute in ['headline', 'company_name']
		$('#'+attribute+'_field input').simplyCountable({counter: '#'+attribute+'_field .char_count', maxCount: my_vars.edit_profile.max_lengths[attribute]})
