%th
	%span.editable= Profile.human_attribute_name(:languages)
%td
	%span.attribute_display= profile_display_text @profile.errorfree.languages, serialize: true
	.edit.popover
		= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
			= f.error_messages
			= hidden_field_tag 'formlet', formlet
			.text_field
				= f.label :languages
				= f.text_field :languages, class: 'attr'
				%p.note= t 'views.profile.edit.languages_example'
			= f.submit 'Save', disable_with: 'Saving...', class: 'save'
			= link_to 'Cancel', '#', class: 'cancel button'
