- formlet = 'pricing'
%h3.editable= Profile.human_attribute_name :pricing
%p.text_area.attribute_display= profile_display_text @profile.errorfree.pricing, preserve: true, links: true
.edit.popover
	= form_for [:formlet_update, @profile], remote: true, html: {id: "edit-#{formlet}"} do |f|
		= f.error_messages
		= hidden_field_tag 'formlet', formlet
		.text_field#pricing_field
			%span.char_count
			= f.label :pricing
			= f.text_area :pricing, size: '45x5', class: 'attr'
			%p.note= t 'views.profile.edit.pricing_example_html'
			%p.note= t 'views.profile.edit.pricing_tip'
		.buttons
			= f.submit t('views.profile.edit.submit'), data: { disable_with: t('views.profile.edit.submit_disable') }, class: 'save'
			= link_to t('views.profile.edit.cancel'), '#', class: 'cancel button'

:coffeescript
	# Show character count while filling in field.
	$('#pricing_field textarea').simplyCountable({counter: '#pricing_field .char_count', maxCount: my_vars.edit_profile.max_lengths.pricing, valueLength: my_vars.edit_profile.text_area_value_length})
