- formlet = 'pricing'
%th
	%span.editable= Profile.human_attribute_name(:pricing)
%td
	- if @profile.errorfree.pricing.present?
		%p.text_area.attribute_display= profile_display_text @profile.errorfree.pricing, preserve: true, links: true
	%p.list.attribute_display
		- for_search_only = @profile.errorfree.human_attribute_names_if_present :free_initial_consult, :sliding_scale_available, :financial_aid_available
		- if for_search_only.present?
			%span.note=  t 'views.profile.edit.for_search_only'
			%br
			= display_wrapped_names for_search_only
		- elsif @profile.errorfree.pricing.present?
			%span.note=  t 'views.profile.edit.for_search_only_blank'
	.edit.popover
		= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
			= f.error_messages
			= hidden_field_tag 'formlet', formlet
			.text_field#pricing_field
				%span.char_count
				= f.label :pricing
				= f.text_area :pricing, size: '45x5', class: 'attr'
				%p.note= t 'views.profile.edit.pricing_example_html'
				%p.note= t 'views.profile.edit.pricing_tip'
			.check_boxes.stacked
				= f.label :pricing_check_boxes, t('views.profile.edit.check_box_search_only_prompt_html')
				%br
				.check_box
					= f.check_box :free_initial_consult
					= f.label :free_initial_consult
				.check_box
					= f.check_box :sliding_scale_available
					= f.label :sliding_scale_available
				.check_box
					= f.check_box :financial_aid_available
					= f.label :financial_aid_available
			.buttons
				= f.submit 'Save', disable_with: 'Saving...', class: 'save'
				= link_to 'Cancel', '#', class: 'cancel button'

:coffeescript
	# Show character count while filling in field.
	$('#pricing_field textarea').simplyCountable({counter: '#pricing_field .char_count', maxCount: my_vars.edit_profile.max_lengths.pricing, valueLength: my_vars.edit_profile.text_area_value_length})
