.edit.popover.profile-photo-update
	.step_one
		%label Step 1 of 2
		%p Please drop an image from your computer in the image area below
		.file-drop
			%span{ 'data-placeholder' => 'Drop files here' } Drop files here
		%p
			Or you can browse for an image file
			%input.standard-attachment{ name: 'standard_attachment', accept: 'image/*', type: :file}
		%p
			Or
			= link_to "import an image from a URL", '#'
			\.
		%p
			Or you can ask for
			= link_to "more detailed help", '#'
			\.
	.step_two{:style => "display: none;"}
		%label Step 2 of 2
		%p Photo successfully uploaded and saved
		.upload-result
			= image_tag @profile.profile_photo.url(:original), id: 'upload_result_img', alt: "#{@profile.display_name_or_company}", itemprop: 'image', onerror: "this.src = '#{image_path(Profile::DEFAULT_PHOTO_PATH)}'"
		%p.like-profile-photo
			Like it?
			= link_to "Click here to continue editing your profile", '#', id: 'like_profile_photo'
		%p.no-like-profile-photo
			Don't like it?
			= link_to "Click here to crop, resize, or edit this photo...", '#', id: ''
		%p
			or
			= link_to "upload a different photo", '#', id: 'show_step_one'
			/.
		%p
			Get
			= link_to "more detailed help", '#'
%span.editable.attribute_display{itemprop: "profilePhoto"}
	%span.blank_attr= if @profile.errorfree.profile_photo.presence then 'Click to update your photo' else 'Click to add your photo' end

:javascript
	my_vars.photo_update_profile_path = '#{photo_update_profile_path @profile}';

:coffeescript
	toggle_popover = ->
		$('.edit.popover.profile-photo-update').toggle()

	show_step_one = ->
		$('.file-drop .upload_waiter').remove()
		$('.step_two').css("display", "none")
		$('.step_one .file-drop img').remove()
		$('.file-drop').css borderColor: 'red'
		$('.step_one').css("display", "block")

	show_step_two = ->
		$('.file-drop .upload_waiter').remove()
		$('.step_one').fadeOut(500)
		$('.step_two').fadeIn(2000)

	update_main_view = ->
		updated_src = $("img#upload_result_img").attr('src')
		$('.photo-wrapper-large img').attr('src', updated_src)

	$ ->
		$('#like_profile_photo').on 'click', (e) ->
			e.preventDefault()
			show_step_one()
			update_main_view()
			toggle_popover()

		$('#show_step_one').on 'click', (e) ->
			e.preventDefault()
			show_step_one()

		$('.photo-wrapper-large img, .photo-wrapper-large span.editable').on 'click', (e) ->
			toggle_popover()

		show_step_one()

		# create a new processor with the endpoint to where the assets are uploaded
		jackUp = new JackUp.Processor(path: my_vars.photo_update_profile_path)

		$('.file-drop').jackUpDragAndDrop(jackUp)

		# prevent the browser to redirect to the file when droped anywhere else on the page
		$(document).bind 'drop dragover', (e) ->
			e.preventDefault()

		$('.standard-attachment').jackUpAjax(jackUp)

		# called if upload is an image; returns an image jQuery object with src attribute assigned
		jackUp.on 'upload:imageRenderReady', (e, options) ->
			$('img[data-id]').remove()
			$('div.errorExplanation').remove()
			options.image.attr("data-id", options.file.__guid__)
			$('.file-drop').append(options.image).css(border: "1px solid green")
			$('.file-drop').append($("<div class='upload_waiter'>"))

		# upload has been sent to server; server will handle processing
		jackUp.on "upload:sentToServer", (e, options) ->
			#$("img[data-id='" + options.file.__guid__ + "']").css borderColor: 'yellow'	

		# when server responds successfully
		jackUp.on "upload:success", (e, options) ->
			$('.file-drop .upload_waiter').remove()
			$('div.errorExplanation').remove()
			response = JSON.parse(options.responseText)

			save_error = if response.error == 'true' then true else false
			# show errors
			if save_error
				errors_array = response.errors_array
				errorDiv = $("<div class='errorExplanation'>")
				errorUl = $("<ul>")
				if errors_array.length > 0
					errorUl.append("<li>An unexpected error occurred while uploading your image, please try again later</li>")

				for key, value of errors_array
					errorUl.append("<li>").text(value)

				errorDiv.append(errorUl)
				$(".file-drop").parent("div").prepend(errorDiv)
			else
				$("img#upload_result_img").attr('src', response.profile_photo_src)
				show_step_two()

		# when server returns a non-200 response
		jackUp.on "upload:failure", (e, options) ->
			alert("'\#{options.file.name}' upload failed; please retry")
			$("img[data-id='\#{options.file.__guid__}']").remove()
			$('.file-drop .upload_waiter').remove()
			$('div.errorExplanation').remove()