- provider_score = (profile.rating_average_score.presence || 0)
- provider_score_int = provider_score.to_i
- provider_score_half = (provider_score - provider_score_int >= 0.5)? 'half' : ''
%span{class: "reviews reviewed-#{provider_score_int}#{provider_score_half}-star"}
	%span.star.star5
	%span.star.star4
	%span.star.star3
	%span.star.star2
	%span.star.star1
.review-num
	%span= display_count_for 'rating', profile.ratings.size
	- if profile.reviews.size > 0
		= link_to (display_count_for 'review', profile.reviews.size), "#{profile_path(profile)}#reviews"
	- else
		%span= display_count_for 'review', profile.reviews.size
