.provider_rating
	- @provider_score_class = 'provider_score'
	- name = "provider_score_#{profile.id}"
	- n_ratings = profile.ratings.size
	= "#{n_ratings} #{'rating'.pluralize(n_ratings)}:"
	= form_tag rate_profile_path(profile) do
		- provider_score = ((profile.rating_average_score.presence || -1) * 2).round
		- (1..10).each do |i|
			= radio_button_tag "#{name}", i, (i == provider_score), class: "#{@provider_score_class} #{name} {split:2}"

:coffeescript
	$("input.#{name}").rating().rating('readOnly', true)
