- submit_by_ajax ||= false
- allow_clear ||= false
- current_rating ||= profile.rating_by(current_user)
- rate_provider_id = "rate_provider_#{profile.id}"
- score_provider_id = "score_provider_#{profile.id}"
%div{id: rate_provider_id}
	%p
		%span{class: "rate reviews #{rating_score_stars_css_class current_rating.try(:score)}"}
			- Rating::SCORES.reverse_each do |i|
				%span{class: "star star#{i} post", title: provider_rating_title(i), 'data-score' => i}
		- if allow_clear and current_rating
			%span.clear_rating
				%a.post{'data-score' => ''}= t 'rating.clear'
	= form_tag(rate_profile_path(profile), method: :get) do
		= hidden_field_tag 'score', current_rating.try(:score).try(:round), id: score_provider_id

- options = {submit_by_ajax: submit_by_ajax.presence, allow_clear: allow_clear.presence}
:javascript
	(function() {
		var post_rating, setup_rating;
		
		post_rating = function(value) {
			if (#{!!submit_by_ajax}) {
				return $.post('#{rate_profile_path profile}', { score: value }, function(success) {
					return $('##{rate_provider_id}').load('#{edit_rating_profile_path(profile, options)} ##{rate_provider_id} > *', setup_rating);
				}, 'json');
			} else {
				$('##{score_provider_id}').val(value);
				return $('##{rate_provider_id} form').submit();
			}
		};

		setup_rating = function() {
			$('##{rate_provider_id} .post').on('click', function(e) {
				post_rating($(this).attr('data-score'));
				return false;
			});
		};
		
		setup_rating();
	}).call(this);
