.rate_provider_form
	- form_id = "rate_provider_#{profile.id}"
	.rate-this
		= profile.rating_by(current_user) ? t('rating.prompt_for_score') : t('rating.prompt_for_first_score')
	= form_tag rate_profile_path(profile), id: form_id do
		- current_user_score = profile.rating_by(current_user).try(:score).try(:round).presence || -1
		- Rating::SCORES.each do |i|
			= radio_button_tag "#{form_id}", i, (i == current_user_score), class: "rate_provider", title: provider_rating_title(i), id: "rate_provider_#{i}"
:javascript
	(function() {
		var post_rating;
		post_rating = function(value, link) {
			return $.post('#{rate_profile_path profile}', { score: value }, function() {
				return $('.provider_rating').load('#{rating_score_profile_path profile} .provider_rating > *', my_vars.f.rating_score_reset);
			});
		};
		$('form##{form_id} input.rate_provider').rating({ callback: post_rating });
		my_vars.f.rate_reset = function() {
			return $('form input.rate_provider').rating({ callback: post_rating });
		};
	}).call(this);
