- provider_score_title = provider_rating_average_score profile
%span{class: "reviews #{provider_rating_stars_css_class profile}", title: provider_score_title}
	- Rating::SCORES.reverse_each do |i|
		%span{class: "star star#{i}"}
.review-num
	-# Use the "size" method because it uses the underlying counter caching.
	%span= display_count_for 'rating', profile.ratings.size
	- if profile.reviews.size > 0
		= link_to (display_count_for 'review', profile.reviews.size), "#{profile_path(profile)}#reviews"
	- else
		%span= display_count_for 'review', profile.reviews.size
