%th
	%span.editable= Profile.human_attribute_name :specialties
%td
	%p.attribute_display
		- if @profile.errorfree.categories.present?
			= profile_wrap_item_names @profile.errorfree.categories
		- else
			%span.note= t 'views.profile.edit.categories_blank'
	%p.attribute_display
		- if @profile.errorfree.services.present?
			= profile_wrap_item_names @profile.errorfree.services
		- else
			%span.note= t 'views.profile.edit.services_blank'
	%p.attribute_display
		- if @profile.errorfree.specialties.present?
			= profile_wrap_item_names @profile.errorfree.specialties
		- else
			%span.note=  t 'views.profile.edit.specialties_blank'
	= render partial: "#{formlet}_popover", locals: {formlet: formlet}
