- formlet = 'service_area'
%th
	%span.editable= Profile.human_attribute_name(:service_area)
%td
	%span.text_area.attribute_display= profile_display_text @profile.errorfree.service_area, preserve: true, links: true
	.edit.popover
		= form_for [:formlet_update, @profile], remote: true, html: {id: "edit-#{formlet}"} do |f|
			= f.error_messages
			= hidden_field_tag 'formlet', formlet
			.text_field#service_area_field
				%span.char_count
				= f.label :service_area
				= f.text_area :service_area, size: '45x5', class: 'attr'
				%p.note= t 'views.profile.edit.service_area_example'
			= f.submit t('views.profile.edit.submit'), disable_with: t('views.profile.edit.submit_disable'), class: 'save'
			= link_to t('views.profile.edit.cancel'), '#', class: 'cancel button'

:coffeescript
	# Show character count while filling in field.
	$('#service_area_field textarea').simplyCountable({counter: '#service_area_field .char_count', maxCount: my_vars.edit_profile.max_lengths.service_area, valueLength: my_vars.edit_profile.text_area_value_length})
