#profile_stats
	- if can? :manage, Profile
		%strong= t('views.profile.view.stats_title')
		%br
		= profile_owned_published_count
		%br
		= profile_owned_not_published_count
		%br
		= profile_published_count
		&nbsp;
		= profile_total_count
