- @page_title = profile_page_title profile
.profile_areas
	- if can? :manage, Profile
		.editor_info
			.publish_state
				= profile.is_published ? 'Profile is published' : 'Profile is NOT published'
			.user_state
				= profile.claimed? ? "Profile is claimed by #{profile.user.email}" : 'Profile is NOT claimed'
			.invitation_state
				= profile_invitation_info profile
	- if current_user.try(:admin?)
		.admin_info
			- if profile.admin_notes.present?
				.admin_notes
					%span.label Admin notes:
					%br
					.value.text_area= preserve profile.admin_notes
			- if profile.lead_generator.present?
				.lead_generator
					Lead generator:
					= profile.lead_generator
	.rating_info
		-# If these partials are called from a users view, we need an explicit reference to profiles.
		- if profile.ratings.size > 0
			= render partial: 'profiles/rating_score', locals: {profile: profile}
		- if user_signed_in? && profile != current_user.profile
			= render partial: 'profiles/rate', locals: {profile: profile}
	.basic_profile
		.display_name
			Name:
			= profile_display_name profile
		.email
			Public email:
			= profile.email
		.company_name
			Company name:
			= profile.company_name
		.url
			Website:
			= profile_website profile
		.headline
			%span.label Professional headline:
			%br
			.value= profile.headline
		.primary_phone
			Primary phone:
			= profile.primary_phone
		.secondary_phone
			Secondary phone:
			= profile.secondary_phone
	.location_contact_profile
		- profile.locations.each do |location|
			.address
				Address:
				= location.display_address
			.phone
				Phone:
				= location.display_phone
			.search_area_tag
				Region:
				= location.search_area_tag.try(:name)
	.expertise_profile
		.categories
			%span.label Category:
			= profile_display_categories profile
		.services
			%span.label Services:
			= profile_display_services profile
		.specialties
			%span.label Specialties:
			= profile_display_specialties profile
		.specialties_description
			%span.label My specialties:
			= profile.specialties_description
		.age_ranges
			%span.label Ages:
			= profile_age_ranges profile
	.professional_profile
		.accepting_new_clients
			%span.label
				= profile_display_accepting_new_clients profile
		.consultations
			%span.label Consultations by:
			= profile_display_consultation_modes profile
		.visits
			%span.label Visit:
			= profile_display_visitation_modes profile
		.education
			%span.label Education:
			%br
			.value.text_area= preserve profile.education
		.certifications
			%span.label Licenses, certifications:
			%br
			.value.text_area= preserve profile.certifications
		.languages
			%span.label Languages:
			%br
			.value.text_area= preserve profile.languages
		.insurance_accepted
			%span.label Health insurance accepted:
			%br
			.value.text_area= preserve profile.insurance_accepted
		.summary
			%span.label Summary:
			%br
			.value.text_area= preserve profile.summary
		.pricing
			%span.label Pricing:
			%br
			.value.text_area= preserve profile.pricing
		.availability
			%span.label Availability:
			%br
			.value.text_area= preserve profile.availability
		.office_hours
			%span.label Office hours:
			%br
			.value.text_area= preserve profile.office_hours
		.phone_hours
			%span.label Phone consultation hours:
			%br
			.value.text_area= preserve profile.phone_hours
		.video_hours
			%span.label Video consultation hours:
			%br
			.value.text_area= preserve profile.video_hours
