- @page_title = profile_page_title profile
.profile_areas
	- if can? :manage, Profile
		%fieldset.admin_info
			%legend= t 'views.profile.legend.admin_info'
			.profile_id
				= t 'views.profile.view.id', id: profile.id
			.publish_state
				= profile.is_published ? t('views.profile.view.profile_is_published') : t('views.profile.view.profile_is_not_published')
			.user_state
				= profile.claimed? ? t('views.profile.view.profile_is_claimed_by', owner: profile.user.email) : t('views.profile.view.profile_is_not_claimed')
			.invitation_state
				= profile_invitation_info profile
			- if profile.admin_notes.present?
				.admin_notes
					%span.label= "#{Profile.human_attribute_name(:admin_notes)}:"
					%br
					.value.text_area= preserve_profile_text profile.admin_notes
			- if profile.lead_generator.present?
				.lead_generator
					= "#{Profile.human_attribute_name(:lead_generator)}:"
					= profile.lead_generator
	%fieldset.basic_profile
		%legend= t 'views.profile.legend.basic_profile'
		.display_name
			= "#{Profile.human_attribute_name(:display_name)}:"
			= profile_display_name profile
		.email
			= "#{Profile.human_attribute_name(:email)}:"
			= profile_linked_email profile
		.company_name
			= "#{Profile.human_attribute_name(:company_name)}:"
			= profile.company_name
		.url
			= "#{Profile.human_attribute_name(:url)}:"
			= profile_linked_website profile
		.headline
			%span.label= "#{t 'views.profile.view.headline'}:"
			%br
			.value= profile.headline
	%fieldset.photo
		.photo_source_url
			= "#{Profile.human_attribute_name(:photo_source_url)}:"
			= profile_linked_photo_source profile
			= image_tag profile.photo_source_url.strip, height: '168', border: '1' if profile.photo_source_url.present?
	%fieldset.location_contact_profile
		%legend= Profile.human_attribute_name :locations
		- profile.locations.each do |location|
			.location
				.address
					= "#{Location.human_attribute_name(:address1)}:"
					= location.display_address
				.phone
					= "#{Location.human_attribute_name(:phone)}:"
					= location.display_phone
				.search_area_tag
					= "#{Location.human_attribute_name(:search_area_tag_id)}:"
					= location.search_area_tag.try(:name)
	%fieldset.expertise_profile
		%legend= t 'views.profile.legend.expertise_profile'
		.categories
			%span.label= "#{Profile.human_attribute_name(:categories)}:"
			= profile_display_categories profile
		.services
			%span.label= "#{Profile.human_attribute_name(:services)}:"
			= profile_display_services profile
		.specialties
			%span.label= "#{Profile.human_attribute_name(:specialties)}:"
			= profile_display_specialties profile
		.stages_ages
			%span.label= "#{Profile.human_attribute_name(:stages_ages)}:"
			= profile.display_stages_ages
	%fieldset.professional_profile
		%legend= t 'views.profile.legend.professional_profile'
		.accepting_new_clients
			%span.label
				= profile_display_accepting_new_clients profile
		.consultations
			%span.label= "#{t 'views.profile.view.consultation_modes'}:"
			= profile_display_consultation_modes profile
		.consult_remotely
			%span.label= profile_display_consult_remotely profile
		.year_started
			%span.label= "#{Profile.human_attribute_name(:year_started)}:"
			= profile.year_started
		.education
			%span.label= "#{Profile.human_attribute_name(:education)}:"
			%br
			.value.text_area= preserve_profile_text profile.education
		.certifications
			%span.label= "#{Profile.human_attribute_name(:certifications)}:"
			%br
			.value.text_area= preserve_profile_text profile.certifications
		.languages
			%span.label= "#{Profile.human_attribute_name(:languages)}:"
			%br
			.value.text_area= preserve_profile_text profile.languages
		.insurance_accepted
			%span.label= "#{Profile.human_attribute_name(:insurance_accepted)}:"
			%br
			.value.text_area= preserve_profile_text profile.insurance_accepted
		.summary
			%span.label= "#{Profile.human_attribute_name(:summary)}:"
			%br
			.value.text_area= preserve_profile_text profile.summary
		.pricing
			%span.label= "#{Profile.human_attribute_name(:pricing)}:"
			%br
			.value.text_area= preserve_profile_text profile.pricing
		.hours
			%span.label= "#{Profile.human_attribute_name(:hours)}:"
			%br
			.value.text_area= preserve_profile_text profile.hours
		.service_area
			%span.label= "#{Profile.human_attribute_name(:service_area)}:"
			%br
			.value.text_area= preserve_profile_text profile.service_area
	%fieldset.rating_info
		%legend= t 'views.profile.legend.rating_info'
		-# If this partial is called from a users view, we need an explicit reference to profiles.
		- if profile.ratings.size > 0
			= render partial: 'profiles/rating_score', locals: {profile: profile}
			%br
			%span.label= "#{Rating.human_attribute_name(:score)}:"
			= provider_rating_average_score profile
	%fieldset.reviews
		%legend= Profile.human_attribute_name :reviews
		- profile.reviews.each do |review|
			.review
				- rating_score = review.rating.try(:score)
				- rating_title = rating_score || t('rating.no_score')
				= form_tag do
					- (Rating::SCORES).each do |i|
						= radio_button_tag 'rating_score', i, (i == rating_score), class: 'provider_score', title: rating_title
				%br
				.value.text_area= preserve_profile_text review.body
				- if can? :manage, Profile
					%span.label= "#{Review.human_attribute_name(:reviewer_email)}:"
					= review.reviewer_email
					%br
				%span.label= "#{Review.human_attribute_name(:reviewer_username)}:"
				= review.reviewer_username
