.profile_areas
	- if can? :manage, Profile
		.editor_info
			.publish_state
				= profile.is_published ? 'Profile is published' : 'Profile is NOT published'
	.basic_profile
		.display_name
			Name:
			= profile_display_name profile
		.email
			Public email:
			= profile.email
		.company_name
			Company name:
			= profile.company_name
		.url
			Website:
			= profile.url
		.headline
			%span.label Professional headline:
			%br
			.value= profile.headline
		.mobile_phone
			Mobile:
			= profile.mobile_phone
		.office_phone
			Office:
			= profile.office_phone
	.location_contact_profile
		.address
			Address:
			= location_display_address profile.try(:locations).try(:first)
	.expertise_profile
		.categories
			%span.label Categories:
			= profile_display_categories profile
		.services
			%span.label Services:
			= profile_display_services profile
		.specialties
			%span.label Specialties:
			= profile_display_specialties profile
		.age_ranges
			%span.label Ages:
			= profile_age_ranges profile
	.professional_profile
		.accepting_new_clients
			%span.label
				= profile_display_accepting_new_clients profile
		.consultations
			%span.label Consultations by:
			= profile_display_consultation_modes profile
		.visits
			%span.label Visit:
			= profile_display_visitation_modes profile
		.education
			%span.label Education:
			%br
			.value.text_area= preserve profile.education
		.certifications
			%span.label Licenses, certifications:
			%br
			.value.text_area= preserve profile.certifications
		.languages
			%span.label Languages:
			%br
			.value.text_area= preserve profile.languages
		.insurance_accepted
			%span.label Health insurance accepted:
			%br
			.value.text_area= preserve profile.insurance_accepted
		.summary
			%span.label Summary:
			%br
			.value.text_area= preserve profile.summary
		.rates
			%span.label Rates:
			%br
			.value.text_area= preserve profile.rates
		.availability
			%span.label Availability:
			%br
			.value.text_area= preserve profile.availability
		.office_hours
			%span.label Office hours:
			%br
			.value.text_area= preserve profile.office_hours
		.phone_hours
			%span.label Phone consultation hours:
			%br
			.value.text_area= preserve profile.phone_hours
		.video_hours
			%span.label Video consultation hours:
			%br
			.value.text_area= preserve profile.video_hours
