- formlet = 'year_started'
%h3= Profile.human_attribute_name(:year_started)
.edit.popover
	= form_for @profile, url: formlet_update_profile_path(@profile), remote: true, html: {id: "edit-#{formlet}"} do |f|
		= f.error_messages
		= hidden_field_tag 'formlet', formlet
		.text_field#year_started_field
			%span.char_count
			= f.label :year_started
			= f.text_field :year_started, class: 'attr'
			%p.note= t 'views.profile.edit.year_started_example'
		= f.submit 'Save', disable_with: 'Saving...', class: 'save'
		= link_to 'Cancel', '#', class: 'cancel button'
%p.attribute_display= @profile.errorfree.year_started

:coffeescript
	# Show character count while filling in field.
	$('#year_started_field input').simplyCountable({counter: '#year_started_field .char_count', maxCount: my_vars.edit_profile.max_lengths.year_started})
