.edit_profile
	.buttons
		= profile_link @profile
		= edit_profile_link @profile
		= full_profile_link @profile
		= link_to Profile.human_attribute_name(:reviews), "#{request.path}#review_area"
		- if can?(:destroy, @profile)
			= render partial: 'destroy', locals: {profile: @profile}
	= nested_form_for @profile do |f|
		= f.error_messages
		= render partial: 'info_area'
		= render partial: 'form', locals: {f: f}
		.buttons
			= f.submit 'Save changes', disable_with: 'Saving...', id: 'save_profile_button'
			= link_to "Cancel", profile_path(@profile)
			= profile_link @profile
			= edit_profile_link @profile
			= full_profile_link @profile
	- if can? :manage, Review
		%fieldset#review_area
			%legend= Profile.human_attribute_name :reviews
			.new_review_div#new_review_div
				= render partial: 'reviews/admin_new'
			- @profile.reviews.order_by_descending_updated_at.each do |review|
				.edit_review_div{id: "edit_review_div_#{review.id}"}
					= render partial: 'reviews/admin_edit', locals: {review: review}
		.buttons
			= profile_link @profile
			= edit_profile_link @profile
			= full_profile_link @profile
