- @page_title_prefix = @profile.display_name_or_company
- @body_class ||= 'interior edit'
- if can?(:manage, Profile)
	.editor_buttons
		- unless @profile.owned_by? current_user
			= profile_link @profile
		= full_profile_link @profile
		= edit_full_profile_link @profile
		- if !@profile.claimed?
			= new_invitation_profile_link @profile
		= admin_profiles_link
		= admin_link
		- if can?(:destroy, @profile)
			= render partial: 'destroy', locals: {profile: @profile}
%article#content
	%header#content-header.clearfix
		-# = image_tag 'profile-photo.jpg', alt: "#{@profile.display_name_or_company}", width: '168', height: '168', border: '0', class: 'profile-photo', itemprop: 'image'
		.profile-photo-placeholder
			= t 'views.profile.view.profile_photo_placeholder'
		.profile{itemscope: "", itemtype: "http://schema.org/Person"}
			#display_name.formlet
				= render partial: 'formlet', locals: {formlet: 'display_name'}
			= render partial: 'profiles/rating_score', locals: {profile: @profile}
			#job.formlet
				= render partial: 'formlet', locals: {formlet: 'job'}
			#locations.formlet
				= render partial: 'formlet', locals: {formlet: 'locations'}
			#internet.formlet
				= render partial: 'formlet', locals: {formlet: 'internet'}
		#contact_options.formlet
			= render partial: 'formlet', locals: {formlet: 'contact_options'}
	%section#details.clearfix
		.interior
			.summary-text
				#summary.formlet.editable
					= render partial: 'formlet', locals: {formlet: 'summary'}
				#services.formlet.editable
					= render partial: 'formlet', locals: {formlet: 'services'}
			%table.info{border: "0", cellpadding: "0", cellspacing: "0"}
				%tr#hours.formlet
					= render partial: 'formlet', locals: {formlet: 'hours'}
				%tr#age_ranges.formlet
					= render partial: 'formlet', locals: {formlet: 'age_ranges'}
				%tr#languages.formlet
					= render partial: 'formlet', locals: {formlet: 'languages'}
				%tr#education.formlet
					= render partial: 'formlet', locals: {formlet: 'education'}
				%tr#certifications.formlet
					= render partial: 'formlet', locals: {formlet: 'certifications'}
				%tr#insurance_accepted.formlet
					= render partial: 'formlet', locals: {formlet: 'insurance_accepted'}
				%tr#pricing.formlet
					= render partial: 'formlet', locals: {formlet: 'pricing'}
:coffeescript
	# Clicking within a formlet element will activate it unless we clicked on a 'dont_popover' element.
	$('.formlet').click (e) -> $(this).addClass 'active' unless $(e.target).hasClass 'dont_popover'
