- @content_class = 'profile_content'
- @page_title_prefix = profile_page_title_prefix @profile
-# Meta description and keywords are set by the profiles controller.
= javascript_include_tag 'profile_edit'
- if can?(:manage, Profile)
	.editor_buttons
		= full_profile_link @profile
		= edit_full_profile_link @profile
		- if !@profile.claimed?
			= new_invitation_profile_link @profile
		= admin_profiles_link
		= admin_link
		- if can?(:destroy, @profile)
			= render partial: 'destroy', locals: {profile: @profile}
= render partial: 'show_and_edit_tabs', locals: {active_tab: :edit}
