- if @update_succeeded.nil?
	window.location.replace("#{edit_profile_path @profile}");
- else
	- if @update_succeeded
		$('##{@formlet}').removeClass('active');
	- if @refresh_formlets
		- @refresh_formlets.split.each do |f|
			$('##{f}').html('#{escape_javascript(render partial: 'formlet', locals: {formlet: f})}');
	- else
		$('##{@formlet}').html('#{escape_javascript(render partial: 'formlet')}');
