.profile_index
	.buttons
		= admin_create_profile_link
	.profile_list{align: 'center'}
		%table
			%thead
				%tr
					%th Name
					%th Company name
					%th Website
					%th Headline
					%th Address
					%th Public email
					%th Mobile
					%th Office
					%th.large Categories
					%th.large Specialties
					%th Ages
					%th Consultations
					%th Visitations
					%th.large Education
					%th Licenses, certifications
					%th Languages
					%th.large Insurance accepted
					%th.large Summary
					%th Rates
					%th.large Availability
			%tbody
				- @profiles.each do |p|
					%tr
						%td= link_to profile_display_name(p), edit_profile_path(p)
						%td= p.try(:company_name)
						%td= p.try(:url)
						%td= p.try(:headline)
						%td= "#{location_display_address p.try(:locations).try(:first)}"
						%td= p.try(:email)
						%td= p.try(:mobile_phone)
						%td= p.try(:office_phone)
						%td= profile_display_categories(p)
						%td= profile_display_specialties(p)
						%td= profile_age_ranges p
						%td= profile_display_consultation_modes p
						%td= profile_display_visitation_modes p
						%td.text_area= preserve p.try(:education)
						%td.text_area= preserve p.try(:certifications)
						%td.text_area= preserve p.try(:languages)
						%td.text_area= preserve p.try(:insurance_accepted)
						%td.text_area= preserve p.try(:summary)
						%td.text_area= preserve p.try(:rates)
						%td.text_area= preserve p.try(:availability)