.profile_index
	.profile_list{align: 'center'}
		.pagination_nav
			= render partial: 'shared/per_page_form', locals: { record_type: Profile }
			= paginate @profiles
		%table
			%thead
				%tr
					%th Name
			%tbody
				- @profiles.each do |p|
					%tr
						%td= profile_list_name_or_company_link p
		.pagination_nav
			= render partial: 'shared/per_page_form', locals: { record_type: Profile }
			= paginate @profiles
