.edit_profile
	= nested_form_for @profile do |f|
		= f.error_messages
		= render partial: 'info_area'
		= render partial: 'form', locals: {f: f}
		.buttons
			= f.submit 'Create profile', disable_with: 'Creating...'
			= link_to "Cancel", profiles_path
