.edit_profile
	= form_for @profile do |f|
		= f.error_messages
		= render partial: 'info_area'
		= render partial: 'form', locals: {f: f}
		.buttons
			= f.submit 'Save'
			= link_to "Cancel", profiles_path
