.edit_profile
	= form_for @profile, url: send_invitation_profile_path(@profile) do |f|
		= f.error_messages
		.profile_areas
			.email
				%p
					Send an invitation to the following email address requesting to claim the profile for
					%strong= @profile.display_name_or_company
				= f.label :invitation_email, "Invitation Email"
				= f.text_field :invitation_email, id: 'invitation_email'
		.buttons
			= f.submit 'Send invitation', id: 'send_invitation_profile'
			= link_to "Cancel", profile_path(@profile)
