- @subject ||= invite_provider_email_subject
- @body    ||= raw invite_provider_email_body
.edit_profile
	= form_for [:send_invitation, @profile] do |f|
		= f.error_messages
		.profile_areas
			.provider_invite
				%p
					Send an invitation to the following email address requesting to claim the profile for
					%strong= @profile.display_name_or_company
				- if !@profile.is_published
					%p.warning
						This profile is not published.  The provider will not be able to preview the profile before claiming it.
				= f.label :invitation_email, 'Email'
				= f.text_field :invitation_email
				%br
				= label_tag 'subject', "Subject"
				= text_field_tag 'subject', @subject
				%br
				= label_tag "Message body"
				= text_area_tag 'body', @body, rows: 35
				%br
				= f.label :invitation_tracking_category, 'Tracking category'
				= f.text_field :invitation_tracking_category
				%br
				%span.hint If the above field is left blank, the tracking category will be set to the subject line.
				.buttons
					= f.submit t('views.profile.edit.invitation_preview_button'), disable_with: t('views.profile.edit.invitation_disable_send_button'), id: 'test_invitation_profile', name: 'commit'
					= f.submit t('views.profile.edit.invitation_send_button'), disable_with: t('views.profile.edit.invitation_disable_send_button'), id: 'send_invitation_profile', name: 'commit'
					= link_to "Cancel", profile_path(@profile)
