.search_results
	%h3= search_results_title @search
	.buttons
		- if @search.results.present?
			#get_location_button_area{style: 'display: none'}
				= button_tag 'Show nearest to you', id: 'get_location_button'
				%strong= '|'
			= form_tag search_providers_path, method: :get, id: 'get_location_form' do
				= hidden_field_tag :query, @search_query
				= hidden_field_tag :search_area_tag_id, @search_area_tag_id
				= submit_tag 'Show closest to', disable_with: 'Searching...', id: 'order_by_distance_button'
				- city_prompt = 'city in California'
				= text_field_tag :city, @search_city, size: 12, id: 'search_city', placeholder: city_prompt, title: city_prompt
				= hidden_field_tag :region, DEFAULT_REGION
				or
				- postal_code_prompt = 'zip code'
				= text_field_tag :postal_code, @search_postal_code, size: 10, id: 'search_postal_code', placeholder: postal_code_prompt, title: postal_code_prompt
	.search_results_list
		%span#search_by_location_placeholder{style: 'display: none'}
			Searching...
		- @search.results.each_with_index do |profile, i|
			.expert_result{id: "expert_result_#{i}"}
				%table
					%tr
						%td.left
							.name= search_result_name_headline profile
							.specialties= search_result_specialties profile
							.location= search_result_location profile
							.summary.text_area= preserve profile.summary
						%td.right
							- if profile.ratings.size > 0
								= render partial: 'profiles/rating_score', locals: {profile: profile}
							.availability.text_area.right= preserve "Availability:\n#{profile.availability}" if profile.availability.present?
							.accepting_new_clients.right= profile_display_accepting_new_clients profile
							.consultations.right= search_result_consultations_visits profile

:coffeescript
	window.onload = ->
		window.rating_score_reset()
	if Modernizr.geolocation
		$('#get_location_button_area').css('display', 'inline-block')
	$('#search_city').focusin ->
		$('#search_postal_code').val('')
	$('#search_postal_code').focusin ->
		$('#search_city').val('')
	$('#get_location_button').click (e) ->
		e.preventDefault()
		$('#get_location_button_area').css('display', 'none')
		if Modernizr.geolocation
			navigator.geolocation.getCurrentPosition(search_by_location)
	search_by_location = (position) ->
		$('#search_by_location_placeholder').css('display', 'inline')
		search_path = '#{escape_javascript search_providers_path(query: @search_query, search_area_tag_id: @search_area_tag_id)} .expert_result'
		params = 'latitude='+position.coords.latitude+'&longitude='+position.coords.longitude
		$('.search_results_list').load(search_path, params, window.rating_score_reset)
