.view_profile
	%h3#headline= @profile.display_name_or_company
	.buttons
		= edit_profile_link @profile
		- if !@profile.claimed?
			= new_invitation_profile_link @profile
	= render partial: 'view', locals: {profile: @profile}
	.buttons
		= edit_profile_link @profile
		- if !@profile.claimed?
			= new_invitation_profile_link @profile
	-# = render partial: 'rating_system'
