- @page_title_prefix = @profile.display_name_or_company
- if can? :manage, Profile
	.editor_buttons
		= edit_profile_link @profile
		= full_profile_link @profile
		= edit_full_profile_link @profile
		- if !@profile.claimed?
			= new_invitation_profile_link @profile
		= admin_profiles_link
		- if can?(:destroy, @profile)
			= render partial: 'destroy', locals: {profile: @profile}
%article#content
	%header#content-header.clearfix{itemscope: "", itemtype: "http://schema.org/Person"}
		= image_tag 'profile-photo.jpg', alt: "#{@profile.display_name_or_company}", width: '168', height: '168', border: '0', class: 'profile-photo', itemprop: 'image'
		.profile
			%h1{itemprop: "name"}= @profile.display_name_or_company
			= render partial: 'profiles/rating_score', locals: {profile: @profile}
			%span.title{itemprop: "jobTitle"}= @profile.headline
			- if @profile.company_name.present? && @profile.display_name.present?
				%span.title{itemprop: "affiliation"}= @profile.company_name
			- location = @profile.locations.sort_by(&:created_at).first
			%span.location{itemprop: "street-address"}= location.try(:display_address)
			%span.location{itemprop: "telephone"}= location.try(:display_phone)
			%span.location{itemprop: "url"}= profile_linked_website @profile
			- if @profile.email.present?
				%span.location{itemprop: "email"}
					email:
					= profile_linked_email @profile
			- if can? :rate, @profile
				= render partial: 'profiles/rate', locals: {profile: @profile}
			- elsif !user_signed_in?
				.rate
					.rate-this
						= render partial: 'profiles/rate_prompt_signed_out', locals: {profile: @profile}
		%ul.contact-toolbar
			%li#consult_by_email= profile_consult_by_email_element @profile
			%li#consult_by_phone= profile_consult_by_phone_element @profile
			%li#consult_by_video= profile_contact_icon_element :consult_by_video, @profile
			%li#consult_in_person= profile_contact_icon_element :consult_in_person, @profile
			%li#consult_in_group= profile_contact_icon_element :consult_in_group, @profile
			%li#visit_home= profile_contact_icon_element :visit_home, @profile
			%li#visit_school= profile_contact_icon_element :visit_school, @profile
			%li#consult_at_hospital= profile_contact_icon_element :consult_at_hospital, @profile
			%li#consult_at_camp= profile_contact_icon_element :consult_at_camp, @profile
			%li#appointment
				%a{href: "#"} Make an appointment
	%section#details.clearfix
		.interior
			.summary-text
				- if @profile.summary.present?
					.summary
						%h3= Profile.human_attribute_name :summary
						%p.text_area= preserve_profile_text @profile.summary
				- if @profile.services.present? || @profile.specialties.present?
					.services
						-# Only display specialties.  Put categories and services in meta tags and hidden elements.
						%h3= Profile.human_attribute_name :specialties
						%p= profile_display_specialties(@profile, 6)
						%p= @profile.specialties_description
			%table.info{border: "0", cellpadding: "0", cellspacing: "0"}
				- if @profile.hours.present?
					%tr
						%th
							%span= Profile.human_attribute_name :hours
						%td.text_area= preserve_profile_text @profile.hours
				- if @profile.age_ranges.present?
					%tr
						%th
							%span= Profile.human_attribute_name :age_ranges
						%td= profile_age_ranges @profile
				- if @profile.languages.present?
					%tr
						%th
							%span= Profile.human_attribute_name :languages
						%td= serialize_profile_text @profile.languages
				- if @profile.education.present?
					%tr
						%th
							%span= Profile.human_attribute_name :education
						%td= serialize_profile_text @profile.education
				- if @profile.certifications.present?
					%tr
						%th
							%span= Profile.human_attribute_name :certifications
						%td= serialize_profile_text @profile.certifications
				- if @profile.insurance_accepted.present?
					%tr
						%th
							%span= Profile.human_attribute_name :insurance_accepted
						%td= serialize_profile_text @profile.insurance_accepted
				- if @profile.pricing.present?
					%tr
						%th
							%span= Profile.human_attribute_name :pricing
						%td.text_area= preserve_profile_text @profile.pricing
	%section#reviews.clearfix
		%article.review.even
			%header.review-header
				%span.author
					%a{href: "#"} Illiana Cruz
				%span.location San Francisco, CA
				%span.num-reviews
					%a{href: "#"} 6 reviews
			%section.review-body
				.reviews.reviewed-4-star
					.star.star1
					.star.star2
					.star.star3
					.star.star4
					.star.star5
					.review-date 1/25/13
				%p We've seen Dr. Hurd now 3 times, and each time, she is as personable and helpful as the last, from breastfeeding, to pumping, to sleep training.  I am sorry that there are folks who cannot get into this practice due to the "interview" process.  As one of the lucky ones, we were referred into NVP and went to interview a month before my due date.  Nurse Judy was so helpful and we chose Dr. Hurd based on the info she gave us.  Since then, we have attended one of Nurse Judy's classes, and plan to take many more.  She has classes for: new parents, illness, safety, and more!  I cannot imagine a better resource for new parents with an admittedly average-to-low-maintenance newborn baby (no special needs).  And so far, we've always been seen on time for appointments.
		%article.review.odd
			%header.review-header
				%span.author
					%a{href: "#"} John Manning
				%span.location San Francisco, CA
				%span.num-reviews
					%a{href: "#"} 10 reviews
			%section.review-body
				.reviews.reviewed-4-star
					.star.star1
					.star.star2
					.star.star3
					.star.star4
					.star.star5
					.review-date 11/12/10
				%p We've been extremely pleased with the practice as a whole and with our pediatrician, Dr Hurd, who figured out that our baby's supposedly drastic weight loss was due to CPMC's mis-converting from grams to pounds and ounces.  Phone calls get answered by a human being (although I'm sometimes asked to hold briefly), and emails and calls to the on-duty nurses are returned quickly.
-# For editors and administrators only.
- if can? :manage, Profile
	.editor_info
		.publish_state
			= @profile.is_published ? 'Profile is published' : 'Profile is NOT published'
		.user_state
			= @profile.claimed? ? "Profile is claimed by #{@profile.user.email}" : 'Profile is NOT claimed'
		.invitation_state
			= profile_invitation_info @profile
- if current_user.try(:admin?)
	.admin_info
		- if @profile.admin_notes.present?
			.admin_notes
				%span.label Admin notes:
				%br
				.value.text_area= preserve_profile_text @profile.admin_notes
		- if @profile.lead_generator.present?
			.lead_generator
				Lead generator:
				= @profile.lead_generator
