.view_profile
	%h3#headline= @profile.display_name_or_company
	.buttons
		= profile_link @profile
		= edit_profile_link @profile
		= edit_full_profile_link @profile
		= link_to Profile.human_attribute_name(:reviews), "#{request.path}#review_area"
		- if !@profile.claimed?
			= new_invitation_profile_link @profile
		- if can?(:destroy, @profile)
			= render partial: 'destroy', locals: {profile: @profile}
	= render partial: 'view', locals: {profile: @profile}
	.buttons
		= profile_link @profile
		= edit_profile_link @profile
		= edit_full_profile_link @profile
		- if !@profile.claimed?
			= new_invitation_profile_link @profile
	-# = render partial: 'rating_system'
