- @content_class = 'profile_content'
- @page_title_prefix = profile_page_title_prefix @profile
-# Meta description and keywords are set by the profiles controller.
-# Facebook Open Graph properties follow. Used by the layout to generate meta-properties.
- @og_url = profile_url(@profile)
- @og_title = @profile.company_otherwise_display_name
- if @profile.profile_photo_file_name.present?
	- @og_image = @profile.profile_photo.url(:original)
	-# - profile_photo_geometry = @profile.profile_photo.styles[:original].geometry
	-# - @og_image_width = profile_photo_geometry.sub(/x.*\z/i, '')
	-# - @og_image_height = profile_photo_geometry.sub(/\A.*x/i, '')
- @og_type = 'business.business'
- @og_updated_time = display_profile_date(@profile.updated_at)
- content_for :head do
	%meta{name: "thumbnail", content: @profile.profile_photo.url(:original)}
- show_and_edit = can?(:manage_my_profile, @profile) || can?(:edit, @profile)
- if show_and_edit
	= javascript_include_tag 'profile_edit'
- else
	= javascript_include_tag 'profile_show'
- if @claim_token
	.provider_buttons
		= link_to t('views.profile.claim_confirm.link_body'), force_claim_user_profile_path(token: @claim_token), id: 'claim_profile_confirm_link'
		= t 'views.profile.claim_confirm.message'
- elsif @show_claiming_token
	.provider_buttons
		= link_to t('views.profile.claim.message'), claim_user_profile_url(token: @show_claiming_token)
- if can?(:manage, Profile)
	.editor_buttons
		= full_profile_link @profile
		= edit_full_profile_link @profile
		- if not @profile.claimed? and can?(:send_invitation, @profile)
			= new_invitation_profile_link @profile
		= admin_profiles_link
		= admin_link
		- if can?(:destroy, @profile)
			= render partial: 'destroy', locals: {profile: @profile}
- if show_and_edit
	= render partial: 'show_and_edit_tabs', locals: {active_tab: :show}
- else
	= render partial: 'show'
