- if (show_and_edit = can?(:manage_my_profile, @profile) || can?(:edit, @profile))
	= javascript_include_tag 'profile_edit'
- else
	= javascript_include_tag 'profile_show'
- if @claim_token
	.provider_buttons
		= link_to t('views.profile.claim_confirm.link_body'), force_claim_user_profile_path(token: @claim_token), id: 'claim_profile_confirm_link'
		= t 'views.profile.claim_confirm.message'
- elsif @show_claiming_token
	.provider_buttons
		= link_to t('views.profile.claim.message'), claim_user_profile_url(token: @show_claiming_token)
- if can?(:manage, Profile)
	.editor_buttons
		= full_profile_link @profile
		= edit_full_profile_link @profile
		- unless @profile.claimed? or @profile.contact_blockers.present?
			= new_invitation_profile_link @profile
		= admin_profiles_link
		= admin_link
		- if can?(:destroy, @profile)
			= render partial: 'destroy', locals: {profile: @profile}
%article#content.profile_content
	- if show_and_edit
		= render partial: 'show_and_edit_tabs', locals: {active_tab: :show}
	- else
		= render partial: 'show'
