<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="YOUR INFO HERE" />
	<meta name="description" content="YOUR INFO HERE" />
	<!-- <link rel="stylesheet" href="styles.css?ver=1.0" type="text/css" /> -->
	<%= stylesheet_link_tag "styles", media: "screen, handheld, print" %>
	<%= stylesheet_link_tag "jquery-ui-lightness", media: "screen, handheld, print" %>
	<%= stylesheet_link_tag "jquery.rating", media: "screen, handheld, print" %>
	<%= favicon_link_tag '/favicon.ico?v=1' %>
	<!-- <link rel="icon" href="favicon.ico" type="image/x-icon" /> -->
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<title><%= @profile.display_name_or_company %> | Kinstantly | When parenting challenges can't wait.</title>
	
	<!-- JavaScript -->
		<!--[if IE]><![endif]-->
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- <script src="assets/js/respond.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="assets/js/modernizr-2.5.3.min.js"></script> -->
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<script type="text/javascript">
		$(function() {

    // Get select elements
    var selects = $('.select-wrapper > select');
    if ( !selects.length ) return;

    // Add change event to selects, and trigger it on load, so the span is up to date
    selects.on('change', function() {

        // Assign the jquery object to a variable 
        var select = $(this);

        // Get placeholder element
        var placeholder = select.prev('.select-text');
        if ( !placeholder.length ) return;

        // Get the text from the selected option
        var selected_text = select.children('option:selected').text();

        // Update the placeholder text
        placeholder.html(selected_text);

    }).change();

    // Not proud of this, workaround for Firefox that doesn't trigger the change event
    // if the user is using the keyboard to navigate through the options
    selects.on('keypress', function() {
        selects.trigger('change');
    });
});
</script>
</head>

<body class="interior">
		<header id="branding" class="clearfix">
		<div class="container">
			<h3 id="tagline">When parenting challenges can't wait.</h3>
			<div id="access" class="clearfix">
				<ul>
					<li id="about"><%= about_link %></li>
					<li id="contact"><%= contact_link %></li>
				<% if user_signed_in? %>
					<li id="signout"><%= sign_in_out_link %></li>
				<% else %>
					<li id="signin">Already a member? <%= sign_in_out_link %></li>
				<% end %>
				</ul>
			</div>
		</div>
			
		<div id="masthead" class="clearfix">
			<h1><%= home_link %></h1>
		
			<div id="findProvider" class="aside">
			<!-- <form id="providerSearch" method="post" action="">
				  <input type="text" name="provider" id="provider" autocomplete="off" value="doctor, tutor, therapist..." onfocus="this.value=''">
			  <div class="select-wrapper">
			    <span class="select-text"></span>
			    <select>
				  <option selected="selected">San Francisco, CA</option>
				  <option>Another Place, CA</option>
				  <option>Anywhere</option>
				 </select>
			  </div>
			  <input type="submit" name="submit" value="sign in" class="button submit green" id="submit">
			  <p class="small">Provider? <a href="#">Join us</a></p>
		  </form> -->
			<%= form_tag search_providers_path, method: :get, id: 'providerSearch' do %>
				<%= text_field_tag :query, @search_query, id: 'provider_search_query', autocomplete: 'off', placeholder: 'doctor, tutor, therapist...' %>
			  <div class="select-wrapper">
			    <span class="select-text"></span>
			    <%= select_tag :search_area_tag_id, search_area_tag_options(@search_area_tag_id), id: 'search_area_tag' %>
			  </div>
				<%= submit_tag 'Search for free', disable_with: 'Searching...', class: 'button submit green', id: 'submit' %>
				<% if !user_signed_in? %>
				  <p class="small">Provider? <%= provider_sign_up_link 'Join us' %></p>
				<% end %>
		  <% end %>
		  </div>
		</div>
		
		</header>
		
		<article id="content">
		
			<header itemscope itemtype="http://schema.org/Person" id="content-header" class="clearfix">
				
				<!-- <img src="images/profile-photo.jpg" alt="" width="168" height="168" border="0" class="profile-photo" itemprop="image" /> -->
				<%= image_tag 'profile-photo.jpg', alt: 'Photo of Sophia M. Hurd', width: '168', height: '168', border: '0', class: 'profile-photo', itemprop: 'image' %>
				<div class="profile">
					<h1 itemprop="name"><%= @profile.display_name_or_company %></h1>
					<%= render partial: 'profiles/rating_score', locals: {profile: @profile} %>
					<!-- <div class="reviews reviewed-4-star">
						<div class="star star1"></div>
						<div class="star star2"></div>
						<div class="star star3"></div>
						<div class="star star4"></div>
						<div class="star star5"></div>
						<div class="review-num">2 reviews</div>
					</div> -->
					<span itemprop="jobTitle" class="title"><%= @profile.headline %></span>
					<% if @profile.company_name.present? && @profile.display_name.present? %>
					<span itemprop="affiliation" class="title"><%= @profile.company_name %></span>
					<% end %>
					<span itemprop="street-address" class="location"><%= @profile.locations.first.try(:display_address) %></span>
					<span itemprop="telephone" class="location"><%= @profile.locations.first.try(:display_phone) %></span>
					<span itemprop="url" class="location"><%= profile_linked_website @profile %></span>
					<% if @profile.email.present? %>
					<span itemprop="email" class="location">email: <%= profile_linked_email @profile %></span>
					<% end %>
					<%= render partial: 'profiles/rate', locals: {profile: @profile} %>
					<!-- ><div class="rate reviews">
						<div class="rate-this">Rate Sophia M. Hurd:</div>
						<div class="star star1"></div>
						<div class="star star2"></div>
						<div class="star star3"></div>
						<div class="star star4"></div>
						<div class="star star5"></div>
					</div> -->
				</div>
				
				<ul class="contact-toolbar">
					<li id="email"><%= profile_linked_email @profile %></li>
					<li id="call"><%= location_linked_phone @profile.locations.first %></li>
					<li id="url"><%= profile_linked_website @profile %></li>
					<li id="appointment"><a href="#">Make an appointment</a></li>
				</ul>
			</header>
			
			<section id="details" class="clearfix">
				<div class="interior">
					<div class="summary-text">
						<% if @profile.summary.present? %>
						<div class="summary"><h3>Summary</h3>
						<p><%= @profile.summary %></p>
						</div>
						<% end %>
						<% if @profile.services.present? || @profile.specialties.present? %>
						<div class="services"><h3>Services / Specialties</h3>
						<!-- ><p>Pediatrician. Autism specturm, Developmental delay, Integrated functional medicine for kids, Evidence based complementary and alternative healing modalities.</p> -->
						<p>
							<% if @profile.services.present? %>
								<%= profile_display_services(@profile, 3).titlecase %>.
							<% end %>
							<% if @profile.specialties.present? %>
								<%= profile_display_specialties(@profile, 3).titlecase %>.
							<% end %>
						</p>
						</div>
						<% end %>
					</div>
					
					<table class="info" cellpadding="0" cellspacing="0" border="0">
						<% if @profile.age_ranges.present? %>
						<tr>
							<th><span>Ages</span></th>
							<td><%= profile_age_ranges @profile %></td>
						</tr>
						<% end %>
						<% if @profile.languages.present? %>
						<tr>
							<th><span>Languages</span></th>
							<td><%= serialize_profile_text @profile.languages %></td>
						</tr>
						<% end %>
						<% if @profile.education.present? %>
						<tr>
							<th><span>Education</span></th>
							<td><%= serialize_profile_text @profile.education %></td>
						</tr>
						<% end %>
						<% if @profile.certifications.present? %>
						<tr>
							<th><span>Licenses / Certifications</span></th>
							<td><%= serialize_profile_text @profile.certifications %></td>
						</tr>
						<% end %>
						<% if @profile.insurance_accepted.present? %>
						<tr>
							<th><span>Insurance</span></th>
							<td><%= serialize_profile_text @profile.insurance_accepted %></td>
						</tr>
						<% end %>
						<% if @profile.pricing.present? %>
						<tr>
							<th><span>Rates</span></th>
							<td><%= serialize_profile_text @profile.pricing %></td>
						</tr>
						<% end %>
					</table>
							
					</div>
				</div>
			</section>
			
			<section id="reviews" class="clearfix">
				<article class="review even">
					<header class="review-header">
						<span class="author"><a href="#">Illiana Cruz</a></span>
						<span class="location">San Francisco, CA</span>
						<span class="num-reviews"><a href="#">6 reviews</a></span>
					</header>
					<section class="review-body">
						<div class="reviews reviewed-4-star">
							<div class="star star1"></div>
							<div class="star star2"></div>
							<div class="star star3"></div>
							<div class="star star4"></div>
							<div class="star star5"></div>
							<div class="review-date">1/25/13</div>
						</div>
						
						<p>We've seen Dr. Hurd now 3 times, and each time, she is as personable and helpful as the last, from breastfeeding, to pumping, to sleep training.  I am sorry that there are folks who cannot get into this practice due to the "interview" process.  As one of the lucky ones, we were referred into NVP and went to interview a month before my due date.  Nurse Judy was so helpful and we chose Dr. Hurd based on the info she gave us.  Since then, we have attended one of Nurse Judy's classes, and plan to take many more.  She has classes for: new parents, illness, safety, and more!  I cannot imagine a better resource for new parents with an admittedly average-to-low-maintenance newborn baby (no special needs).  And so far, we've always been seen on time for appointments.</p>
					</section>
				</article>
				
				<article class="review odd">
					<header class="review-header">
						<span class="author"><a href="#">John Manning</a></span>
						<span class="location">San Francisco, CA</span>
						<span class="num-reviews"><a href="#">10 reviews</a></span>
					</header>
					<section class="review-body">
						<div class="reviews reviewed-4-star">
							<div class="star star1"></div>
							<div class="star star2"></div>
							<div class="star star3"></div>
							<div class="star star4"></div>
							<div class="star star5"></div>
							<div class="review-date">11/12/10</div>
						</div>
						
						<p>We've been extremely pleased with the practice as a whole and with our pediatrician, Dr Hurd, who figured out that our baby's supposedly drastic weight loss was due to CPMC's mis-converting from grams to pounds and ounces.  Phone calls get answered by a human being (although I'm sometimes asked to hold briefly), and emails and calls to the on-duty nurses are returned quickly.</p>
					</section>
				</article>
			</section>

		</article>
        		
		<footer id="footer">
			<p id="bottom"><a href="#">About us</a>  |  <a href="#">Contact us</a>  |  <a href="#">Terms of use</a><br>
&copy; Copyright 2013 Kinstantly, Inc. All Rights Reserved.</p>
		</footer>
		<div id="line"></div>
	<script type='text/javascript'>
		//<![CDATA[
		window.onload = function() {
			window.rating_score_reset();
			window.rate_reset();
		};
		//]]>
	</script>
</body>
</html>