.show
	= render partial: 'shared/nav_title', locals: { title: t('views.email_delivery.view.email_unsubscribe_list_title') }
	%p#notice= @notice
	- if @create_list.email_deliveries.present?
		%p= t 'views.email_delivery.view.email_unsubscribe_list_tip_html'
	%table
		%tr
			%td= t 'views.email_delivery.view.email_unsubscribe_list'
			%td.select_to_copy
				%textarea.ui-widget-content{readonly: 'readonly', rows: '10', cols: '80'}
					= @email_unsubscribe_list
		- if @blocked_recipients.present?
			%tr
				%td= t 'views.email_delivery.view.blocked_recipients'
				%td.select_to_copy
					%textarea.ui-widget-content{readonly: 'readonly'}
						= @blocked_recipients
	%br
	= link_to t('views.email_delivery.edit.new_list'), new_list_email_deliveries_path
	|
	= link_to t('views.email_delivery.view.list'), email_deliveries_path
	|
	= link_to t('views.email_delivery.edit.create'), new_email_delivery_path

:coffeescript
	$('.select_to_copy textarea').on 'click', ->
		$(this).select()
