- is_provider = params[:is_provider].nil? ? resource.is_provider? : params[:is_provider]
#content
	.sign_up.generic_form
		%h1= t "views.sign_up.#{is_provider ? 'provider' : 'member'}_title"

		= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
			= devise_error_messages!

			= f.hidden_field :is_provider, value: (is_provider ? '1' : '')

			- unless is_provider
				.username.text_field
					= f.label :username
					= f.text_field :username

			.email.text_field
				= f.label :email
				= f.email_field :email

			.password.text_field
				= f.label :password
				= f.password_field :password

			.password_confirmation.text_field
				= f.label :password_confirmation
				= f.password_field :password_confirmation

			.buttons
				= f.submit t('views.sign_up.label'), disable_with: t('views.sign_up.label'), class: 'default', id: 'sign_up_button'

		= render "devise/shared/links"
