- is_provider = params[:is_provider].nil? ? resource.is_provider? : params[:is_provider]
.sign_up
	%h2= "Become a #{is_provider ? 'provider' : 'member'}"

	= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
		= devise_error_messages!

		= f.hidden_field :is_provider, value: (is_provider ? '1' : '')

		.email
			= f.label :email
			= f.email_field :email

		.password
			= f.label :password
			= f.password_field :password

		.password_confirmation
			= f.label :password_confirmation
			= f.password_field :password_confirmation

		.buttons
			= f.submit 'Join us!'

	= render "devise/shared/links"
