- embedded_in ||= false
- info_email = "#{t('contact.emails.info.value')}@#{t('email_domain')}"
- if running_as_private_site?
	%p Thanks for your interest in Kinstantly.
	%br
	%p We'll review your request within 48 hours (usually much sooner). If everything looks fine, we'll send an email with login information to the address you provided.
	%br
	%p
		If you have any questions in the meantime, please email
		- info_email_address = 'info@kinstantly.com'
		:plain
			<a href="mailto:#{info_email_address}">#{info_email_address}</a>.
	%br
	%p Thanks!
- elsif params[:in_blog].present?
	%br
	%p Thanks&mdash;and welcome to Kinstantly!
	%br
	%p You're all signed up for Kinstantly This Week. You should get your first edition within the next few days.
	%br
	%p In the meantime, check your email and click on the confirmation link we just sent you. That will complete your registration&mdash;and give you access to all the features on Kinstantly.
	%br
- elsif session[:signed_up_for_mailing_lists]
	%p.greeting THANK YOU!
	%br
	%p You're all signed up for Kinstantly This Week. You should receive your first edition within the next few days.
	%br
	%p In the meantime, be sure to check your email and click on the confirmation link we just sent you. That will complete your registration&mdash;and give you access to all the features on Kinstantly.
	%br
	%p The Kinstantly team
	%br
	= render "devise/shared/links" unless embedded_in
- else # Default sign-up.
	%p.greeting WELCOME TO KINSTANTLY!
	%br
	%p To complete your registration, check your email and click on the confirmation link we just sent you.
	%br
	- if params[:provider].present?
		%p Once you've confirmed your registration, you'll be able to complete your profile&mdash;and we'll get busy helping you grow your business.
		%br
	%p
		Thanks very much!
	%p
		The Kinstantly team
	%br
	= render "devise/shared/links" unless embedded_in
