- is_provider = params[:is_provider].present? || resource.is_provider?
- claiming_profile = session[:claiming_profile].present?
- whoami = is_provider ? (claiming_profile ? 'claiming_profile' : 'provider') : 'member'
- email_tip = t "views.sign_up.email_tip"
- username_inline_tip = t((@signing_up_from_blog ? 'username_inline_blog_tip' : 'username_inline_tip'), scope: 'views.sign_up')
- username_tip = t((@signing_up_from_blog ? 'username_blog_tip' : 'username_tip'), scope: 'views.sign_up')
- password_tip = t "views.sign_up.password_tip", minimum: User::MIN_LENGTHS[:password]
- registration_special_code_tip = t 'views.sign_up.registration_special_code_tip'
- parent_tag = t "views.sign_up.parent_tag"
- provider_tag = t "views.sign_up.provider_tag"
- parent_provider_tag = t "views.sign_up.parent_provider_tag"
- parent_newsletters_prompt	= t "views.sign_up.parent_newsletters_prompt"
- parent_newsletters_hint	= t "views.sign_up.parent_newsletters_hint"
- provider_newsletters_prompt	= t "views.sign_up.provider_newsletters_prompt"
- inline_tip = inline_tip === false ? inline_tip : true

- unless embedded_in
	%h1= t "views.sign_up.#{whoami}_title"
= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
	= devise_error_messages!
	= hidden_field_tag :is_private_alpha, params[:is_private_alpha]
	= hidden_field_tag :in_blog, params[:in_blog] if  params[:in_blog].present?
	= f.hidden_field :signed_up_from_blog
	= f.hidden_field :signed_up_for_mailing_lists
	
	- if @signing_up_for_newsletter
		.signup-for-newsletters
			%p.checkbox-header= parent_newsletters_hint
			%ul.checkbox
				%li
					= f.check_box :parent_newsletters_stage1
					= f.label :parent_newsletters_stage1
				%li
					= f.check_box :parent_newsletters_stage2
					= f.label :parent_newsletters_stage2
				%li
					= f.check_box :parent_newsletters_stage3
					= f.label :parent_newsletters_stage3
			- if @signing_up_from_blog
				%p.newsletter-sample{ style: 'padding-top:10px;'}
					See a sample:
					=link_to '0-4', latest_newsletter_path(:parent_newsletters_stage1), {target: '_blank'}
					|
					=link_to '5-12', latest_newsletter_path(:parent_newsletters_stage2), {target: '_blank'}
					|
					=link_to 'Teens', latest_newsletter_path(:parent_newsletters_stage3), {target: '_blank'}
	.email.text_field
		- unless @signing_up_from_blog
			- if @signing_up_for_newsletter_onsite
				= f.label :email, 'Email:'
			- else
				= f.label :email
			%br
		= f.email_field :email, placeholder: ( @signing_up_from_blog ? 'Enter email address' : ('Enter your email address' if @signing_up_for_newsletter) )
		- if inline_tip
			%p.note.grey_text= email_tip
	-# - if @signing_up_for_newsletter
	-# 	.postal_code.text_field
	-# 		= f.text_field :postal_code, placeholder: 'Enter ZIP code'
	-# 		-# %p.v_tip.grey_text= t "views.sign_up.postal_code_inline_tip"
	-# - unless @signing_up_for_newsletter
	-# 	.username.text_field
	-# 		= f.label :username
	-# 		%br
	-# 		= f.text_field :username
	-# 		- if inline_tip
	-# 			%p.note.grey_text= username_inline_tip
	.password.text_field
		- unless @signing_up_from_blog
			- if @signing_up_for_newsletter_onsite
				= f.label :password,  'Password (must be at least 8 characters):'
			- else
				= f.label :password
			%br
		= f.password_field :password, autocomplete: 'off', placeholder: ( @signing_up_from_blog ? "Enter password" : ("Choose a password" if @signing_up_for_newsletter))
		- if inline_tip
			%p.note.grey_text= password_tip
	-#
	-# .password_confirmation.text_field
	-# 	- unless @signing_up_for_newsletter
	-# 		= f.label :password_confirmation
	-# 		%br
	-# 	= f.password_field :password_confirmation, autocomplete: 'off', placeholder: ('Retype password' if @signing_up_for_newsletter)

	-# - unless @signing_up_for_newsletter
	-# 	.registration_special_code.text_field
	-# 		= f.label :registration_special_code
	-# 		%br
	-# 		= f.text_field :registration_special_code
	-# 		- unless inline_tip
	-# 			%span.help_icon
	-# 				.help_popover
	-# 					%p.tip.grey_text= registration_special_code_tip

	- if claiming_profile
		-# A provider account is required to claim a profile.
		= f.hidden_field :is_provider, :value => '1'
	- elsif @signing_up_for_newsletter
		-# Keep it simple and sign them up as a parent.
		= f.hidden_field :is_provider, value: ''
	- else
		.radio_buttons
			%label
				= f.radio_button :is_provider, ''
				= parent_tag
			%br
			%label
				- if params[:is_provider].present?
					= f.radio_button :is_provider, '1', checked: true
				- else
					= f.radio_button :is_provider, '1'
				= provider_tag
			%br
			%label
				= f.radio_button :is_provider, '2'
				= parent_provider_tag

	- unless @signing_up_for_newsletter
		.newsletters-signup
			%h2= parent_newsletters_prompt
			.checkbox
				%p= parent_newsletters_hint
				= f.check_box :parent_newsletters_stage1
				= f.label :parent_newsletters_stage1
				%br
				= f.check_box :parent_newsletters_stage2
				= f.label :parent_newsletters_stage2
				%br
				= f.check_box :parent_newsletters_stage3
				= f.label :parent_newsletters_stage3
				%br
			#provider-newsletters-signup{:class => ("hidden" unless (is_provider || claiming_profile))}
				%h2= provider_newsletters_prompt
				.checkbox
					= f.check_box :provider_newsletters
					= f.label :provider_newsletters, checked: true
	.buttons
		- if @signing_up_for_newsletter
			= f.submit t(:newsletter_sign_up_label, scope: 'views.sign_up'), disable_with: t('views.sign_up.submit_disable'), class: 'default newsletter_sign_up', id: 'sign_up_button'
			= link_to t(:newsletter_sign_up_cancel, scope: 'views.sign_up'), root_path, class: 'cancel', id: 'sign_up_cancel_button'
		- else
			= f.submit t((is_provider ? :provider_label : :label), scope: 'views.sign_up'), disable_with: t('views.sign_up.submit_disable'), class: 'default', id: 'sign_up_button'

- unless @signing_up_for_newsletter
	:javascript
		$(':radio[name="user[is_provider]"]').on('change', function() {
			selected_val = $(this).filter(":checked").val()
			if(selected_val == 0)
				$('#provider-newsletters-signup').slideUp(200);
			else
				$('#provider-newsletters-signup').slideDown(200);
		});
