- is_provider = params[:is_provider].present? || resource.is_provider?
- is_private_alpha = params[:is_private_alpha].present?
- default_tab = controller.controller_name == 'registrations' ? 0 : 1;
- company_name = "#{t('company.name')}"
- alpha_note = "#{t('company.alpha_note')}"
- @home_link_options = {class: 'logo_no_tagline'} unless is_provider

#login_panel
	.container.positioner
		.company_desc
			%h2= is_provider ? t('views.sign_up.provider_prompt_html') : t('company.short_tagline')
			-if is_private_alpha
				%p.alpha_note= alpha_note
		#tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
			%ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-corner-all
				%li
					=link_to t('views.sign_up.label'), '#sign_up'
				%li
					=link_to "<span class=\"mobile-hide\">#{t 'views.sign_in.prompt'} </span>#{t 'views.sign_in.label'}".html_safe, '#sign_in'
			#sign_up.sign_up.generic_form
				= render partial: "devise/shared/signup", locals:{ embedded_in: true, is_private_alpha: is_private_alpha }
			#sign_in.sign_in.generic_form
				= render partial: "devise/shared/signin", locals:{ embedded_in: true, is_private_alpha: is_private_alpha }

:javascript
	var default_tab = '#{default_tab}';
	$("#tabs").tabs({ active: default_tab });
