- is_private_alpha = params[:is_private_alpha].present?
- default_tab = controller.controller_name == 'registrations' ? 0 : 1;
- company_name = "#{t('company.name')}"
- tagline = "#{t('company.short_tagline')}"
- short_company_description = t 'company.short_company_description_html'
- alpha_note = "#{t('company.alpha_note')}"

.content-wrapper.two-column.logo-wallpaper
	.column.left-rail
	.column.main-column
		.mid-aligned
			.logo-company-name
				= home_link
				%p.tagline= tagline
			%p.short-company-description= short_company_description
			-if is_private_alpha
				%p.alpha_note= alpha_note
		#tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
			%ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-corner-all
				%li
					=link_to 'Sign up', "#sign_up"
				%li
					=link_to 'Already a member? Sign in', "#sign_in"
			#sign_up.sign_up.generic_form
				= render partial: "devise/shared/signup", locals:{ embedded_in: true, is_private_alpha: is_private_alpha }
			#sign_in.sign_in.generic_form
				= render partial: "devise/shared/signin", locals:{ embedded_in: true, is_private_alpha: is_private_alpha }

:javascript
	var default_tab = '#{default_tab}';
	$("#tabs").tabs({ active: default_tab });
