- is_private_alpha = params[:is_private_alpha].present?
- default_tab = controller.controller_name == 'registrations' ? 0 : 1;
- company_name = "#{t('company.name')}"
- short_company_description = t 'company.short_company_description_html'
- alpha_note = "#{t('company.alpha_note')}"

#login_pannel
	.container.positioner
		.company_desc
			- if @signing_up_for_newsletter
				%h2.newsletter_sign_up= t 'views.sign_up.parent_newsletters_prompt'
				= image_tag "newsletter_banner.jpg", alt: short_company_description, itemprop: 'image', class: "banner"
			- else
				%h2= short_company_description
			-if is_private_alpha
				%p.alpha_note= alpha_note
		#tabs.ui-tabs.ui-widget.ui-widget-content.ui-corner-all
			%ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-corner-all
				%li
					=link_to t('views.sign_up.label'), '#sign_up'
				%li
					=link_to "<span class=\"mobile-hide\">#{t 'views.sign_in.prompt'} </span>#{t 'views.sign_in.label'}".html_safe, '#sign_in'
			#sign_up.sign_up.generic_form
				= render partial: "devise/shared/signup", locals:{ embedded_in: true, is_private_alpha: is_private_alpha }
			#sign_in.sign_in.generic_form
				= render partial: "devise/shared/signin", locals:{ embedded_in: true, is_private_alpha: is_private_alpha }

:javascript
	var default_tab = '#{default_tab}';
	$("#tabs").tabs({ active: default_tab });
