- @page_title = "#{company_name} - #{t('views.subcategory.name').pluralize}"
.index
	%h1= t('views.subcategory.name').pluralize
	#top_bar
		= render partial: 'home/admin_nav'
	.list{align: 'center'}
		= form_tag find_by_name_subcategories_path, method: :get do
			= submit_tag t('views.find_button'), disable_with: 'Finding...'
			= autocomplete_form_field 'name', '', autocomplete_subcategory_name_categories_path, placeholder: t('views.subcategory.view.find_by_name'), size: 50
		.pagination_nav
			= render partial: 'shared/per_page_form', locals: { record_type: Subcategory }
			= paginate @subcategories
		%table
			%thead
				%tr
					%th
						= t 'views.subcategory.name'
						-# %br
						-# = t 'views.not_browsable'
					%th.large
						= Subcategory.human_attribute_name(:services)
						-# %br
						-# = t 'views.subcategory.index.service_explanation'
					%th.large= Subcategory.human_attribute_name(:categories).singularize
			%tbody
				- @subcategories.each do |subcategory|
					%tr
						%td= link_to subcategory.name, edit_subcategory_path(subcategory), class: "#{subcategory.browsable? ? 'browsable' : 'not_browsable'}"
						%td
							- subcategory.services.by_display_order.order_by_name.each do |record|
								= link_to record.name, edit_service_path(record), class: "name #{record.browsable? ? 'browsable' : 'not_browsable'}"
						%td
							- subcategory.categories.order_by_name.each do |record|
								= link_to record.name, edit_category_path(record), class: "name #{record.browsable? ? 'browsable' : 'not_browsable'}"
		.pagination_nav
			= render partial: 'shared/per_page_form', locals: { record_type: Subcategory }
			= paginate @subcategories
