- @hide_search_providers = true
- embedded_in ||= false
- info_email = "#{t('contact.emails.info.value')}@#{t('email_domain')}"
#content
	#awaiting_confirmation.wider_form
		%p.thank-you THANK YOU!
		%br
		%br
		%p You're all signed up for Kinstantly This Week.
		%br
		%p Watch your inbox for us on the following days:
		%ul.newsletter-editions-schedule
			%li Monday mornings: Teens edition
			%li Wednesday mornings: Ages 5-12 edition
			%li Friday mornings: Ages 0-4 edition
		%br
		%br
		%p.newsletter-resources
			Can't wait? Scan our
			= link_to 'archive', newsletter_list_path
			to catch up on past issues. Search our
			= link_to 'directory', root_path
			for great parenting experts and family services. And check out our
			= link_to 'blog', blog_url
			for use-it-now parenting advice and how-to lessons.
		%br
		%p
			Welcome to Kinstantly!
		%br
