- formlet = 'courses_info'
- user = @user || @profile.user # This partial was likely rendered from a profile view.
.edit
	= form_for [:formlet_update, user], remote: true, html: {id: "edit-#{formlet}"} do |f|
		= f.error_messages
		= hidden_field_tag 'formlet', formlet
		#wants_info_about_online_classes
			= f.check_box :wants_info_about_online_classes
			= f.label :wants_info_about_online_classes, t('views.profile.edit.wants_info_about_online_classes')
		= f.submit t('views.profile.edit.submit'), data: { disable_with: t('views.profile.edit.submit_disable') }, class: 'hidden'

:coffeescript
	# Show message while saving.
	$('#user_wants_info_about_online_classes').on 'click', ->
		$('#wants_info_about_online_classes label').html('Saving...')
		$(this).submit()
		false # Stop bubble up to prevent a double form submission.
