.edit_profile
	= form_for @user, url: update_profile_path do |uf|
		= uf.error_messages
		= uf.fields_for :profile do |f|
			.basic
				.first_name
					= f.label :first_name, 'First name'
					= f.text_field :first_name
					= f.label :middle_initial, 'Middle initial'
					= f.text_field :middle_initial, size: 1
				.last_name
					= f.label :last_name, 'Last name'
					= f.text_field :last_name
				.email
					= uf.label :email, "Email"
					= uf.text_field :email
				.company_name
					= f.label :company_name, 'Company name'
					= f.text_field :company_name
				.url
					= f.label :url, 'Website'
					= f.text_field :url
				.info
					Add sections to reflect your experience and credentials:
					%br
					= f.text_area :info
			.location_contact
				.address
					= f.label :address1, "Address"
					= f.text_field :address1
					= f.text_field :address2
				.city_state
					= f.label :region, "City"
					= f.text_field :city
					= f.label :region, "State"
					= f.text_field :region, size: 2
				.postal_code
					= f.label :postal_code, "Zip code"
					= f.text_field :postal_code
				.mobile_phone
					= f.label :mobile_phone, "Mobile"
					= f.text_field :mobile_phone
				.office_phone
					= f.label :office_phone, "Office"
					= f.text_field :office_phone
			.buttons
				= uf.submit 'Save'
				= link_to "Cancel", view_profile_path
