.edit_profile
	= nested_form_for @user, url: update_user_profile_path do |uf|
		= uf.error_messages
		= render partial: 'profiles/info_area'
		= uf.fields_for :profile do |f|
			= render partial: 'profiles/form', locals: {f: f, country: profile_country(@user.profile)}
		.buttons
			= uf.submit 'Save'
			= link_to "Cancel", view_user_profile_path
