- display_name = @user.is_provider? ? profile_display_name(@user.profile) : @user.username
.edit
	%h1.headline
		Edit account
	%lable.strong.cell
		Name:
	%span.cell= display_name
	%br
	%lable.strong.cell
		Confirmation instructions sent:
	%span.cell
		= @user.confirmation_sent_at
	%br
	%lable.strong.cell
		Confirmed: 
	%span.col-2
		- if @user.confirmed?
			= @user.confirmed_at
		- else
			not confirmed yet
			= form_for @user, url: confirmation_path(@user), html: { method: :post, style: 'display:inline-block' } do |f|
				= f.hidden_field :email
				= f.submit t('devise.confirmations.create_confirmation_submit'), disable_with: t('devise.confirmations.create_confirmation_submit_disable'), class: 'default auto_width'
