.profile_index
	.profile_list{align: 'center'}
		%table
			%thead
				%tr
					%th Login email
					%th Name or username
					%th Profile (click to view)
					%th Roles
					%th Current sign-in
					%th Last sign-in
					%th Sign-in count
					%th Created
					%th Updated
			%tbody
				- @users.sort{|a, b| a.email.casecmp b.email}.each do |u|
					%tr
						%td= u.email
						%td= u.is_provider? ? profile_display_name(u.profile) : u.username
						%td= user_list_profile_link u.profile if u.is_provider?
						%td= u.roles.join(', ')
						%td= u.current_sign_in_at
						%td= u.last_sign_in_at
						%td= u.sign_in_count
						%td= u.created_at
						%td= u.updated_at
