.profile_index
	.profile_list{align: 'center'}
		%table
			%thead
				%tr
					%th Name
					%th Email
					%th Company name
					%th Website
					%th Headline
					%th Address
					%th Mobile
					%th Office
					%th.large Categories
					%th.large Specialties
					%th Ages
					%th Education
					%th.large Experience
					%th Licenses, certifications
					%th Honors and awards
					%th Languages
					%th.large Summary
					%th Insurance
			%tbody
				- @users.each do |u|
					%tr
						%td= profile_display_name u.profile
						%td= u.email
						%td= u.try(:profile).try(:company_name)
						%td= u.try(:profile).try(:url)
						%td= u.try(:profile).try(:headline)
						%td= "#{profile_address u.profile} #{u.profile.try(:postal_code)}"
						%td= u.try(:profile).try(:mobile_phone)
						%td= u.try(:profile).try(:office_phone)
						%td= profile_display_categories u.profile
						%td= profile_display_specialties u.profile
						%td= profile_age_ranges u.profile
						%td= u.try(:profile).try(:education)
						%td= u.try(:profile).try(:experience)
						%td= u.try(:profile).try(:certifications)
						%td= u.try(:profile).try(:awards)
						%td= u.try(:profile).try(:languages)
						%td= u.try(:profile).try(:summary)
						%td= u.try(:profile).try(:insurance_accepted) ? 'Accepted' : 'Not accepted'