.profile_index
	#top_bar
		= render partial: 'home/admin_nav'
	.profile_list{align: 'center'}
		.pagination_nav
			= render partial: 'shared/per_page_form', locals: { record_type: User }
			= paginate @users
		%table
			%thead
				%tr
					%th Login email
					%th Name or username
					%th Profile (click to view)
					%th Roles
					%th Current sign-in
					%th Last sign-in
					%th Sign-in count
					%th Created
					%th Updated
					%th Confirmation sent
					%th Confirmed
			%tbody
				- @users.each do |u|
					%tr
						%td= link_to u.email, edit_user_path(u)
						%td= u.is_provider? ? profile_display_name(u.profile) : u.username
						%td= user_list_profile_link u.profile if u.is_provider?
						%td= u.roles.join(', ')
						%td= u.current_sign_in_at
						%td= u.last_sign_in_at
						%td= u.sign_in_count
						%td= u.created_at
						%td= u.updated_at
						%td= user_confirmation_sent_at u
						%td= u.confirmed_at
		.pagination_nav
			= render partial: 'shared/per_page_form', locals: { record_type: User }
			= paginate @users
