.show
	%h1.headline
		= "Account: #{@user.email}"
	%label.strong.cell
		Account type:
	%span.cell= user_roles @user
	%br
	-if @user.is_provider?
		%label.strong.cell
			= "#{Profile.human_attribute_name :company_name}:"
		%span.cell= @user.profile.company_name
		%br
		%label.strong.cell
			= "#{Profile.human_attribute_name :display_name}:"
		%span.cell= @user.profile.display_name
		%br
	%label.strong.cell
		= "#{User.human_attribute_name :email}:"
	%span.cell= @user.email
	%br
	%label.strong.cell
		= "#{User.human_attribute_name :username}:"
	%span.cell= @user.username
	%br
	%label.strong.cell
		= "#{User.human_attribute_name :registration_special_code}:"
	%span.cell= @user.registration_special_code
	%br
	-if @user.is_provider? && @user.profile
		%label.strong.cell
			= "#{User.human_attribute_name :profile}:"
		%span.cell= link_to 'click here to view', profile_path(@user.profile)
		%br
	%label.strong.cell
		Confirmation instructions sent:
	%span.cell= user_confirmation_sent_at @user
	%br
	%label.strong.cell
		Confirmed: 
	%span.cell
		- if @user.confirmed?
			= @user.confirmed_at
		- else
			not confirmed yet
			= form_for @user, url: confirmation_path(@user), html: { method: :post, style: 'display:inline-block' } do |f|
				= f.hidden_field :admin_confirmation_sent_by_id, value: current_user.try(:id)
				= f.hidden_field :email
				= f.submit t('devise.confirmations.create_confirmation_submit'), disable_with: t('devise.confirmations.create_confirmation_submit_disable'), class: 'default auto_width'
	- if @user.has_paid_providers?
		%br
		%label.strong.cell
			= "#{Customer.human_attribute_name :customer_files}:"
		%span.cell
			%ul
				- @user.paid_providers.each do |paid_provider|
					%li= link_to paid_provider.email, paid_provider
	- if @user.has_paying_customers?
		%br
		%label.strong.cell
			= "#{User.human_attribute_name :customer_files}:"
		%span.cell
			%ul
				- @user.paying_users.each do |paying_user|
					%li= link_to paying_user.email, paying_user
