.view_profile
	.buttons
		= edit_user_profile_link
	.account_areas
		.basic_account
			.email
				Your login email:
				= @user.email
				%span.note We also use this email to contact you.
			.phone
				Phone number we use to contact you:
				= @user.phone
	= render partial: 'profiles/view', locals: {profile: @profile}
	.buttons
		= edit_user_profile_link
