%nav.buttons
	= admin_link
	= admin_profiles_link
	= admin_user_list_link
	= link_to 'Provider suggestions', provider_suggestions_path
	= link_to 'Categories', categories_path
	= link_to "Create a category", new_category_path
	= link_to 'Services', services_path
	= link_to "Create a service", new_service_path
	= link_to 'Specialties', specialties_path
	= link_to "Create a specialty", new_specialty_path
