%nav.buttons
	= admin_link
	= admin_profiles_link
	= admin_user_list_link
	= link_to t('views.provider_suggestion.name').pluralize, provider_suggestions_path
	= link_to t('views.category.name').pluralize, categories_path
	= link_to t('views.category.edit.create'), new_category_path
	= link_to t('views.subcategory.name').pluralize, subcategories_path
	= link_to t('views.subcategory.edit.create'), new_subcategory_path
	= link_to t('views.service.name').pluralize, services_path
	= link_to t('views.service.edit.create'), new_service_path
	= link_to t('views.specialty.name').pluralize, specialties_path
	= link_to t('views.specialty.edit.create'), new_specialty_path
