%nav.buttons
	= admin_link
	= admin_profiles_link
	= admin_user_list_link
	= admin_provider_suggestion_list_link
	= admin_contact_blocker_links
	= admin_category_links
	= admin_subcategory_links
	= admin_service_links
	= admin_specialty_links
	= admin_profiles_not_categorized_links
