- @body_class = 'interior about'
- @header_class = 'shadow'
- @content_class = 'about-page no-upper-hr no-side-padding'
- @page_title = "#{company_name} - About us"
- jim_email = "jscott@#{t('email_domain')}"
- edward_email = "esimpson@#{t('email_domain')}"
- newsletter_path = user_signed_in? ? edit_subscriptions_path : newsletter_signup_path
- cache ['about_page', user_signed_in?] do
	%section.content-section
		%section.takeaway
			= image_tag "about_top_photo.jpg", alt: "About us", itemprop: 'image', border: "0"
			%h3 Raising great kids just got easier
		%section#details.about-details
			#intro.intro
				Kinstantly turns problems into solutions and makes family life more rewarding&mdash;at every stage of parenting.
			#our-story.story
				%h1 Our Story
				.row
					.col.one-third
						.blurb
					.col.two-third
						%h2 So much info, so little that's life-changing
						%p
							With the world at our scrolling, swiping fingertips, you'd expect the information that makes a real difference to families to be easier to find than ever.
						%p
							But baby horoscopes, celebramom news, and click candy are crowding out the compelling, meaningful stuff parents tell us they're looking for.
						%h2 So many experts, so hard to connect
						%p
							At the same time, the technologies that have made booking a table or getting a ride fast and easy aren't yet working for anyone trying to find someone with the skills to get you through a rough parenting patch or just enrich your family's life.
						%p
							It's too hard to connect with just the right child-sleep consultant or flute teacher or ADHD coach&mdash;who's available when you are, at a price you can afford.
						%h2 We want to fix that...
			#our-solution.products
				%h1 Our Solution
				.row	
					.col.one-half
						.product-box
							%a{href: blog_url, class: 'product-name', target: "_blank"}
								= t('views.home.view.blog')
								-# %span.product-logo
									-# = image_tag "k_u.png", alt: "Kinstantly U", itemprop: 'image', border: "0"
							%p
								Drawing on our extensive network of experts, we challenge the conventional wisdom, sort myth from fact, and translate hard science and data into compelling and useful
								%a{href: blog_url, target: '_blank'}
									TOP STORIES
								like these:
							%ul
								%li
									%a{href: 'http://blog.kinstantly.com/toddler-making-coffee/', target: '_blank'}
										Watching this toddler make coffee for his dad will change everything you think you know about what our kids can do (if we let them)
								%li
									%a{href: 'http://blog.kinstantly.com/mommy-correctness-on-the-playground/', target: '_blank'}
										This ex-pat mom says "mommy correctness" is ruining kids' fun on the playground. Is she right?
								%li
									%a{href: 'http://blog.kinstantly.com/kids-with-anxiety/', target: '_blank'}
										Why anxiety is increasingly common in kids, early warning signs&mdash;and the gentle fixes that help them thrive
					.col.one-half
						.product-box
							%a{href: root_path(anchor: 'provider-search-browse'), class: 'product-name', target: "_blank"}
								= t('views.home.view.providers_html')
								-# %span.product-logo
									-# = image_tag "k_round.png", alt: "Kinstantly.com", itemprop: 'image', border: "0"
							%p
								Our
								= link_to 'directory', root_path(anchor: 'provider-search-browse'), target: "_blank"
								makes it easy to connect with thousands of amazing experts and services. Many offer their services by Skype, by phone, or online, so it doesn't matter if you live in Toledo, Ohio, or Toledo, Spain.
							%p
								Check out this terrific
								= succeed ',' do
									= link_to 'sleep and parenting coach', profile_path(153), target: "_blank"
								this adored
								= succeed ',' do
									= link_to 'classroom behavior specialist', profile_path(2225), target: "_blank"
								this awesome
								= succeed ',' do
									= link_to 'clarinet teacher', profile_path(1191), target: "_blank"
								and this
								= link_to 'college essay coach', profile_path(2058), target: "_blank"
								who really connects with teens.
							%p
								Coming soon: online scheduling
			#our-people.people
				%h1 Our People
				%p
					We represent all points along the parenting timeline, from trying to conceive to getting kids off to college, brought together by a shared philosophy: Raising a family should be one of life's great adventures&mdash;and never any harder than it needs to be.
				.row	
					.col.one-third
						.profile-desc
							.name
								= succeed ',' do
									%span Jim Scott
								co-founder and ceo, dad of 2 and stepdad of 4
							.before
								%strong Before Kinstantly:
								co-founder of
								= succeed ';' do
									%a{href: "http://caring.com", target: '_blank'} Caring.com
								global vp of editorial,
								%a{href: "http://babycenter.com", target: '_blank'} BabyCenter
					.col.one-third
						.profile-desc
							.name
								= succeed ',' do
									%span Edward Simpson
								co-founder and cto, deeply involved, with his wife (a nanny and sitter), in the backyard-neighborhoods movement
							.before
								%strong Before Kinstantly:
								senior developer, 
								= succeed ';' do
									%a{href: "http://babycenter.com", target: '_blank'} BabyCenter
								technical director,
								%a{href: 'http://www.igc.org/html/aboutigc.html', target: '_blank'} Institute for Global Communications
					.col.one-third
						.profile-desc
							.name
								= succeed ',' do
									%span Paula Spencer Scott
								content chief, mom of 4, stepmom of 2
							.before
								%strong Before Kinstantly:
								author or co-author of a dozen pregnancy, parenting, and health books, including
								:plain
									<em><a href="http://amzn.to/1JEW7rV" target="_blank">Momfidence</a></em>,
									<em><a href="http://amzn.to/1O1GVoD" target="_blank">Bright From the Start</a></em>, and
									<em><a href="http://amzn.to/1JEVj6q" target="_blank">The Happiest Toddler on the Block</a></em>
				.row	
					.col.one-third
						.profile-desc
							.name
								= succeed ',' do
									%span Megan Kempston
								product manager, staff writer, and future mom (fingers crossed!)
							.before
								%strong Before Kinstantly:
								high-school English teacher, tutor to at-risk kids, vampire romance novelist
					.col.one-third
						.profile-desc
							.name
								= succeed ',' do
									%span Anna Makarova
								senior developer, mom of 2
							.before
								%strong Before Kinstantly:
								freelance full-stack developer, Chinese interpreter
					.col.one-third
						.profile-desc
							.name
								= succeed ',' do
									%span Allyson Appen
								creative director, mom of 2
							.before
								%strong Before Kinstantly:
								design and art director,
								%a{href: "http://babycenter.com", target: '_blank'} BabyCenter
								and
								%a{href: "http://greatschools.org", target: '_blank'} GreatSchools.org
			.signup-prompt
				Like us on Facebook to get new content and updates first:
				%br
				%br
				:javascript
					my_vars.need_fb_api = true;
				:plain
					<div class="fb-like" data-href="https://www.facebook.com/kinstantly" data-layout="standard" data-action="like" data-show-faces="true" data-share="false"></div>
				%br
				%br
				Because when you drop your kid off for preschool or 1st grade or middle school or college, we want you to feel pretty great about how everything is turning out.

:javascript
	// Get an array of all element heights
	var elm_heights = $('.products .col').map(function() {
	    return $(this).height();
	}).get();

	var max_height = Math.max.apply(null, elm_heights);
	if($(window).width() > 682)
		$('.products .col').height(max_height);
