- @page_title = "#{company_name} - Administration"
.admin
	#top_bar
		%nav.buttons
			= admin_profiles_link
			= admin_user_list_link
			= link_to 'Categories', categories_path
			= link_to 'Services', services_path
			= link_to 'Specialties', specialties_path
	.content
