<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="keywords" content="YOUR INFO HERE" />
	<meta name="description" content="YOUR INFO HERE" />
	<!-- <link rel="stylesheet" href="styles-home.css?ver=1.0" type="text/css" /> -->
	<%= stylesheet_link_tag "styles-home", media: "screen, handheld, print" %>
	<%= favicon_link_tag '/favicon.ico?v=1' %>
	<!-- <link rel="icon" href="favicon.ico" type="image/x-icon" /> -->
	<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	<title>Kinstantly | When parenting challenges can't wait.</title>
	
	<!-- JavaScript -->
		<!--[if IE]><![endif]-->
		<!--[if lt IE 9]>
		<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<!-- <script src="assets/js/respond.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
		<script src="assets/js/modernizr-2.5.3.min.js"></script> -->
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<script type="text/javascript">
		$(function() {

    // Get select elements
    var selects = $('.select-wrapper > select');
    if ( !selects.length ) return;

    // Add change event to selects, and trigger it on load, so the span is up to date
    selects.on('change', function() {

        // Assign the jquery object to a variable 
        var select = $(this);

        // Get placeholder element
        var placeholder = select.prev('.select-text');
        if ( !placeholder.length ) return;

        // Get the text from the selected option
        var selected_text = select.children('option:selected').text();

        // Update the placeholder text
        placeholder.html(selected_text);

    }).change();

    // Not proud of this, workaround for Firefox that doesn't trigger the change event
    // if the user is using the keyboard to navigate through the options
    selects.on('keypress', function() {
        selects.trigger('change');
    });
});
</script>
</head>

<body class="home">
	<div id="container" class="clearfix">
		<header id="branding" class="clearfix">
		<div id="access" class="clearfix">
			<ul>
				<li id="about"><%= about_link %></li>
				<li id="contact"><%= contact_link %></li>
				<% if user_signed_in? %>
					<li id="signout"><%= sign_in_out_link %></li>
				<% else %>
					<li id="signin">Already a member? <%= sign_in_out_link %></li>
				<% end %>
			</ul>
		</div>
			<h1><%= home_link %></h1>
			
			<div id="msg">Marketing message goes here</div>
		</header>
		
		<!--
		= form_tag search_providers_path, method: :get do
		= text_field_tag :query, @search_query, size: 24, id: 'provider_search_query'
		= select_tag :search_area_tag_id, search_area_tag_options(@search_area_tag_id), id: 'search_area_tag'
		= submit_tag 'Search', disable_with: 'Searching...', id: 'provider_search_button'
		-->

		<div id="findProvider" class="aside">
			<%= form_tag search_providers_path, method: :get, id: 'providerSearch' do %>
			<h3>Find a provider</h3>
				<%= text_field_tag :query, @search_query, id: 'provider_search_query', autocomplete: 'off', placeholder: 'doctor, tutor, therapist...' %>
			  <div class="select-wrapper">
			    <span class="select-text"></span>
			    <%= select_tag :search_area_tag_id, search_area_tag_options(@search_area_tag_id), id: 'search_area_tag' %>
			  </div>
				<%= submit_tag 'Search for free', disable_with: 'Searching...', class: 'button submit green', id: 'submit' %>
				<% if !user_signed_in? %>
				  <p class="small">Provider? <%= provider_sign_up_link 'Join us' %></p>
				<% end %>
		  <% end %>
		</div>
		
		<div id="content" class="category-list clearfix">
			<h3>Browse by category</h3>
			<span class="help">Not sure <a href="#">where to start?</a></span>
			
			<div class="col" id="col1">
				<h4>Therapists & Coaches</h4>
				<ul>
					<li><a href="#">Applied Behavior Analysts</a></li>
					<li><a href="#">Child Psychologists</a></li>
					<li><a href="#">Child Psychiatrists</a></li>
					<li><a href="#">Couples/Family Therapists</a></li>
					<li><a href="#">Eating Disorder Therapists</a></li>
					<li><a href="#">Occupational Therapists</a></li>
					<li><a href="#">Parenting Coaches</a></li>
					<li><a href="#">Physical Therapists</a></li>
					<li><a href="#">Social Skills Therapists</a></li>
					<li><a href="#">Speech Therapists</a></li>
				</ul>
				
				<h4>TUTORS</h4>
				<ul>
					<li><a href="#">Executive Function/Time Management</a></li>
					<li><a href="#">Languages</a></li>
					<li><a href="#">Math</a></li>
					<li><a href="#">Reading</a></li>
					<li><a href="#">Sciences</a></li>
					<li><a href="#">Study skills</a></li>
					<li><a href="#">Test prep</a></li>
					<li><a href="#">Writing</a></li>
				</ul>
			</div>
			<div class="col" id="col2">
				<h4>SPECIAL NEEDS</h4>
				<ul>
					<li><a href="#">ADHD</a></li>
					<li><a href="#">Autism spectrum Specialists</a></li>
					<li><a href="#">Dyslexia Specialists</a></li>
					<li><a href="#">Learning Disorders Specialists</a></li>
					<li><a href="#">School Advocates</a></li>
				</ul>

				<h4>HEALTH</h4>
				<ul>
					<li><a href="#">Child Psychiatrists</a></li>
					<li><a href="#">Developmental-Behavioral</a></li> 
					<li><a href="#">Pediatricians</a></li>
					<li><a href="#">Fertility Specialists</a></li> 
					<li><a href="#">Nutritionists</a></li>
					<li><a href="#">Pediatricians</a></li>
					<li><a href="#">Pediatric Dentists</a></li>
					<li><a href="#">Sports Medicine Specialists</a></li>
				</ul>

				<h4>NEW MOM SUPPORT</h4>
				<ul>
					<li><a href="#">Doulas</a></li>
					<li><a href="#">Lactation/infant feeding</a></li> 
					<li><a href="#">Midwives</a></li>
				</ul>

				<h4>MORE</h4>
				<ul>
					<li><a href="#">Adoption facilitators</a></li>
					<li><a href="#">Home allergen inspectors</a></li>
				</ul>
				<div id="all-cats" class="see-all select-wrapper">
			    <span class="select-text"></span>
			    <select>
				  <option selected="selected">See all</option>
				  <option>This is a dropdown</option>
				  <option>of all categories?</option>
				 </select>
			  </div>
			</div>
        </div>
        <div id="social"><%= link_to 'Follow us on twitter', 'http://twitter.com/kinstantly', target: '_blank', id: 'twitter' %><%= link_to 'Follow us on facebook', 'http://facebook.com', target: '_blank', id: 'facebook' %></div>
        </div>
		
		<footer id="footer">
			<p id="bottom"><%= about_link %>  |  <%= contact_link %>  |  <%= terms_link %><br>
&copy; Copyright 2013 Kinstantly, Inc. All Rights Reserved.</p>
		</footer>
</body>
</html>