- @body_class = 'home'
- content_for :head do
	= stylesheet_link_tag 'home_page', media: 'screen, handheld, print'
#container.clearfix
	%header#branding.clearfix
		%nav#access.clearfix
			%ul
				%li#skip
					%a{href: '#content'}= t 'views.accessibility'
				%li#about= about_link
				%li#contact= contact_link
				- if user_signed_in?
					- if current_user.is_provider?
						%li#myprofile= view_my_profile_link
					%li#signout= sign_in_out_link
				- else
					%li#signin
						Already a member? #{sign_in_out_link}
		%h1= home_link
		#msg Marketing message goes here
	#search_providers.aside
		= form_tag search_providers_path, method: :get, id: 'providerSearch' do
			%h3 Find a provider
			= text_field_tag :query, @search_query, id: 'provider_search_query', autocomplete: 'off', placeholder: 'doctor, tutor, therapist...'
			.select-wrapper
				%span.select-text
				= select_tag :search_area_tag_id, search_area_tag_options(@search_area_tag_id), id: 'search_area_tag'
			= submit_tag 'Search for free', disable_with: 'Searching...', class: 'button submit green', id: 'provider_search_button'
			- if !user_signed_in?
				%p.small
					Provider? #{provider_sign_up_link 'Join us'}
	#content.category-list.clearfix
		%h3 Browse by category
		%span.help
			Not sure
			%a{:href => "#"} where to start?
		#col1.col
			%h4 Therapists &amp; Coaches
			%ul
				%li
					%a{:href => "#"} Applied Behavior Analysts
				%li
					%a{:href => "#"} Child Psychologists
				%li
					%a{:href => "#"} Child Psychiatrists
				%li
					%a{:href => "#"} Couples/Family Therapists
				%li
					%a{:href => "#"} Eating Disorder Therapists
				%li
					%a{:href => "#"} Occupational Therapists
				%li
					%a{:href => "#"} Parenting Coaches
				%li
					%a{:href => "#"} Physical Therapists
				%li
					%a{:href => "#"} Social Skills Therapists
				%li
					%a{:href => "#"} Speech Therapists
			%h4 TUTORS
			%ul
				%li
					%a{:href => "#"} Executive Function/Time Management
				%li
					%a{:href => "#"} Languages
				%li
					%a{:href => "#"} Math
				%li
					%a{:href => "#"} Reading
				%li
					%a{:href => "#"} Sciences
				%li
					%a{:href => "#"} Study skills
				%li
					%a{:href => "#"} Test prep
				%li
					%a{:href => "#"} Writing
		#col2.col
			%h4 SPECIAL NEEDS
			%ul
				%li
					%a{:href => "#"} ADHD
				%li
					%a{:href => "#"} Autism spectrum Specialists
				%li
					%a{:href => "#"} Dyslexia Specialists
				%li
					%a{:href => "#"} Learning Disorders Specialists
				%li
					%a{:href => "#"} School Advocates
			%h4 HEALTH
			%ul
				%li
					%a{:href => "#"} Child Psychiatrists
				%li
					%a{:href => "#"} Developmental-Behavioral
				%li
					%a{:href => "#"} Pediatricians
				%li
					%a{:href => "#"} Fertility Specialists
				%li
					%a{:href => "#"} Nutritionists
				%li
					%a{:href => "#"} Pediatricians
				%li
					%a{:href => "#"} Pediatric Dentists
				%li
					%a{:href => "#"} Sports Medicine Specialists
			%h4 NEW MOM SUPPORT
			%ul
				%li
					%a{:href => "#"} Doulas
				%li
					%a{:href => "#"} Lactation/infant feeding
				%li
					%a{:href => "#"} Midwives
			%h4 MORE
			%ul
				%li
					%a{:href => "#"} Adoption facilitators
				%li
					%a{:href => "#"} Home allergen inspectors
			#all-cats.see-all.select-wrapper
				%span.select-text
				%select
					%option{:selected => "selected"} See all
					%option This is a dropdown
					%option of all categories?
	#social
		= link_to 'Follow us on twitter', 'http://twitter.com/kinstantly', target: '_blank', id: 'twitter'
		= link_to 'Follow us on facebook', 'http://facebook.com', target: '_blank', id: 'facebook'
