- @page_title = "#{company_name} - Edit specialty '#{@specialty.name}'"
.edit
	%h1= "Edit specialty '#{@specialty.name}'"
	#top_bar
		= render partial: 'home/admin_nav'
	#forms
		= render partial: 'edit_form'
		- if can?(:destroy, @specialty)
			= form_for @specialty, method: :delete, html: {id: 'destroy_specialty', class: 'destroy_button'} do |f|
				= f.submit t('views.specialty.edit.destroy_button'), disable_with: t('views.category.edit.destroy_button_disable'), confirm: t('views.specialty.edit.destroy_confirm')
	#links
		%h1= Specialty.human_attribute_name :services
		%ul
			- @specialty.services.order_by_name.each do |record|
				%li= link_to record.name, edit_service_path(record), class: 'name'
		%h1= Specialty.human_attribute_name :search_terms
		%ul
			- @specialty.search_terms.order_by_name.each do |record|
				%li= record.name
= render partial: 'shared/save_changes_prompt'
