- @page_title = "#{company_name} - Specialties"
.index
	%h1 Specialties
	#top_bar
		= render partial: 'home/admin_nav'
	.list{align: 'center'}
		= form_tag find_by_name_specialties_path, method: :get do
			= submit_tag t('views.find_button'), disable_with: 'Finding...'
			= autocomplete_form_field 'name', '', autocomplete_specialty_name_profiles_path, placeholder: t('views.specialty.view.find_by_name'), size: 50
		= paginate @specialties
		%table
			%thead
				%tr
					%th
						= t 'views.specialty.name'
						%br
						= t 'views.specialty.view.not_browsable'
					%th= Specialty.human_attribute_name(:search_terms)
					%th= Specialty.human_attribute_name(:is_predefined)
					%th.large= Specialty.human_attribute_name(:services)
			%tbody
				- @specialties.each do |specialty|
					%tr
						%td= link_to specialty.name, edit_specialty_path(specialty), class: "#{specialty.browsable? ? 'browsable' : 'not_browsable'}"
						%td
							- specialty.search_terms.order_by_name.each do |record|
								%span.name= record.name
						%td{class: "#{specialty.is_predefined ? 'predefined' : 'not_predefined'}"}= specialty.is_predefined
						%td
							- specialty.services.order_by_name.each do |record|
								= link_to record.name, edit_service_path(record), class: "name #{record.browsable? ? 'browsable' : 'not_browsable'}"
		= paginate @specialties
