= "Hi #{@profile.first_name.presence || 'there'},"
= ''
Have you ever thought there has to be a better way for parents and providers like you to find one another?
= ''
After talking to hundreds of parents and providers across the country, we heard that wish expressed over and over--and we've spent the last 10 months building a solution that we hope you'll love.
= ''
We call it Kinstantly. It offers a better, more convenient way for potential clients to find you, learn about you and your services, and--soon (if you want)--self-schedule time with you.
= ''
To make things as simple as possible, we've already created a profile for you. Take a look:
= mailer_show_profile_to_claim_url(@profile)
= ''
And, of course, when you're ready, it's easy to make any changes you'd like. To get started, single-click here:
= claim_user_profile_url(token: @profile.invitation_token)
(Note: You'll first be taken to a sign-in page; it will just take a few seconds to enter your name and email address--and yes, it's free.)
= ''
Please don't hesitate to email me directly (see below) if you have any questions, concerns, or just want to talk.
= ''
Jim Scott
Founder and CEO
jscott@kinstantly.com
-#See Our Story
