#content
	.generic_form
		- if @authorized_amount
			= form_for @customer do |f|
				= f.error_messages
				= hidden_field_tag :profile_id, params[:profile_id]
				%h2= t 'views.customer.edit.authorized_amount_increment_title_html', authorized_amount: display_currency_amount(@authorized_amount), provider: @profile.company_otherwise_display_name
				.text_field
					= label_tag :authorized_amount_increment, CustomerFile.human_attribute_name(:authorized_amount_increment)
					= text_field_tag :authorized_amount_increment, ''
				.buttons
					= f.submit t('views.customer.edit.submit'), disable_with: t('views.customer.edit.submit_disable'), class: 'save'
					= link_to t('views.customer.edit.cancel'), @customer, class: 'cancel button'
			%hr
			= form_for @customer do |f|
				= hidden_field_tag :profile_id, params[:profile_id]
				.buttons
					%script{src: 'https://checkout.stripe.com/checkout.js', class: 'stripe-button', 'data-key' => Rails.configuration.stripe[:publishable_key], 'data-description' => t('views.customer.edit.add_new_card'), 'data-email' => current_user.email, 'data-panel-label' => "#{t 'views.customer.edit.add_card'}", 'data-allow-remember-me' => 'false', 'data-label' => t('views.customer.edit.add_new_card')}
		- else
			%p= t 'views.customer.edit.authorization_agreement_html', provider: @profile.company_otherwise_display_name
			= form_for @customer do |f|
				= f.error_messages
				= hidden_field_tag :profile_id, params[:profile_id]
				.text_field
					= label_tag :authorized_amount, CustomerFile.human_attribute_name(:authorized_amount)
					= text_field_tag :authorized_amount, '', placeholder: t('views.customer.edit.authorized_amount_placeholder')
				.buttons
					%script{src: 'https://checkout.stripe.com/checkout.js', class: 'stripe-button', 'data-key' => Rails.configuration.stripe[:publishable_key], 'data-description' => t('views.customer.edit.authorization_title'), 'data-email' => current_user.email, 'data-panel-label' => "#{t 'views.customer.edit.credit_card_button'}", 'data-allow-remember-me' => 'false', 'data-label' => t('views.customer.edit.authorization_button')}

-# :javascript
-# 	my_vars.t.stripe_button_label = '#{t "views.customer.edit.credit_card_button"} ';
-# :coffeescript
-# 	$('#authorized_amount').on 'keyup blur', (e) ->
-# 		amount = $('#authorized_amount').val()
-# 		label = my_vars.t.stripe_button_label + amount
-# 		$('.stripe-button').attr
-# 			'data-amount': amount,
-# 			'data-description': label
