#content
	#authorize_payment_confirmation.payments
		- if @profile and not @authorized
			%p
				= link_to @profile.company_otherwise_display_name, @profile
				no longer has permission to charge your card.
			%p To restore permission for this provider, simply authorize a new amount.
		- elsif @profile and @authorized_amount
			%p
				- if params[:card_changed]
					= "Your card has been changed to the following for Kinstantly Pre-Auth up to #{display_currency_amount(@authorized_amount)} with"
					= succeed '.' do
						= link_to @profile.company_otherwise_display_name, @profile
					%br
					%br
					%span.card_summary= display_payment_card_summary @customer.card_for_provider(@profile.user)
				- else
					- if params[:created]
						Congrats! You're all set up for Kinstantly Pre-Auth with
					- else
						You're set up for Kinstantly Pre-Auth with
					= link_to @profile.company_otherwise_display_name, @profile
					= "up to #{display_currency_amount(@authorized_amount)}."
			%p
				Questions? Concerns? Please email
				= mail_to SUPPORT_EMAIL
				at any time, and we'll get back to you right away.
		- else
			There was a problem.  Please email
			= mail_to SUPPORT_EMAIL
			and we'll get back to you right away.
		.buttons
			= link_to t('views.customer.view.customer_button'), @customer, class: 'default wide'
