%html
	%body
		%p
			User with email #{@email} has subscribed to the following:
			= succeed '.' do
				= @subscriptions.map{ |list| User.human_attribute_name list }.join(', ')
		%p
			= "#{t 'views.newsletter.duebirth1'}:"
			= @duebirth1.presence or 'none specified.'
