%html
	%body
		- if @user
			%p
				This parent registered on
				= mailer_display_time @user.created_at
			%p
				email address:
				= @user.email
			%p
				username:
				= @user.username
			- if @user.registration_special_code.present?
				%p
					%b The parent entered this special code:
					= @user.registration_special_code
			- if @user.signed_up_for_mailing_lists
				%p
					zip code:
					= @user.postal_code
				%p This registration was a newsletter sign-up.
			- if @user.signed_up_from_blog
				%p This registration originated at the blog.
			%p
				subscriptions:
				= @user.leids.keys.map{ |list| User.human_attribute_name list if @user.send list }.compact.join(', ')
			%p= mailer_user_link @user
		- else
			%p Oops, can't find the parent's record.
