%html
	%body
		- if @user
			%p
				This parent registered on
				= mailer_display_time @user.created_at
			%p
				email address:
				= @user.email
			%p
				username:
				= @user.username
			- if @user.registration_special_code.present?
				%p
					%b The parent entered this special code:
					= @user.registration_special_code
			%p= mailer_user_link @user
		- else
			%p Oops, can't find the parent's record.
