%html
	%body
		- if @user
			%p
				This provider registered on
				= mailer_display_time @user.created_at
			%p
				email address:
				= @user.email
			%p
				username:
				= @user.username
			- if @user.registration_special_code.present?
				%p
					%b The provider entered this special code:
					= @user.registration_special_code
			- if @user.signed_up_from_blog
				%p
					zip code:
					= @user.postal_code
				%p This registration originated at the blog (a newsletter sign-up).
			- if @user.claiming_profile?
				%p The provider is in the process of claiming a profile.
				- if (profile = @user.profile_to_claim)
					%p= link_to 'Edit profile they are claiming', edit_plain_profile_url(profile)
			- else
				%p= link_to 'Edit provider profile', edit_plain_profile_url(@profile)
			%p= mailer_user_link @user
		- else
			%p Oops, can't find the provider's record.
