.access_denied_panel
	%p
		Stripe Connect sign-up has been cancelled.
	- if @after_stripe_connect_path
		%p= link_to 'Click here to continue', @after_stripe_connect_path, class: 'button'
	- else
		%p= link_to 'Click here to continue', '#', class: 'close_button button'
		:coffeescript
			close_window = ->  
				window.close()
				false
			# setTimeout close_window, 5000
			$('.access_denied_panel .close_button').on 'click', close_window
	%p 
		Questions? Concerns? Just want to say hi? Email us at
		= succeed '.' do
			= mail_to "#{t('contact.emails.info.value')}@#{t('email_domain')}"
