.confirmation_panel
	%p
		Thanks for connecting your Kinstantly profile to Stripe. You've just made it easy for your customers to pay you online.
	- if @after_stripe_connect_path
		-# Take them to the profile edit tab no matter where they started.
		%p= link_to 'Click to continue', edit_my_profile_path, class: 'button'
	- else
		%p= link_to 'Click to continue', '#', class: 'close_button button'
		:coffeescript
			close_window = ->  
				window.close()
				false
			# setTimeout close_window, 5000
			$('.confirmation_panel .close_button').on 'click', close_window
	%p 
		Questions? Email us at
		= mail_to "#{t('contact.emails.info.value')}@#{t('email_domain')}"
