- @page_title = "#{company_name} - #{t('views.story_teaser.name').pluralize}"
.index
	%h1= t('views.story_teaser.name').pluralize
	#top_bar
		= render partial: 'home/admin_nav'
	.story_teasers_nav
		= link_to t('views.story_teaser.edit.create'), new_story_teaser_path
	.list{align: 'center'}
		.pagination_nav
			= render partial: 'shared/per_page_form', locals: { record_type: StoryTeaser }
			= paginate @story_teasers
		%table
			%thead
				%tr
					%th= StoryTeaser.human_attribute_name :active
					%th= StoryTeaser.human_attribute_name :display_order
					%th= StoryTeaser.human_attribute_name :url
					%th= StoryTeaser.human_attribute_name :image_file
					%th= StoryTeaser.human_attribute_name :title
					%th= StoryTeaser.human_attribute_name :css_class
					%th.small
					%th.small
					%th.small
					%th.small
			%tbody
				- @story_teasers.each do |story_teaser|
					%tr
						%td= story_teaser.active ? 'Yes' : 'No'
						%td= story_teaser.display_order
						%td= story_teaser.url
						%td= story_teaser.image_file
						%td= story_teaser.title
						%td= story_teaser.css_class
						%td.small= link_to 'Show', story_teaser
						%td.small= link_to 'Edit', edit_story_teaser_path(story_teaser)
						- if story_teaser.active
							%td.small= link_to 'Deactivate', deactivate_story_teaser_path(story_teaser), method: :patch
						-else
							%td.small= link_to 'Activate', activate_story_teaser_path(story_teaser), method: :patch
						%td.small= link_to 'Remove', story_teaser, method: :delete, data: { confirm: t('views.story_teaser.edit.confirm_destroy', title: story_teaser.title) }
		.pagination_nav
			= render partial: 'shared/per_page_form', locals: { record_type: StoryTeaser }
			= paginate @story_teasers
