New review for #{@review.profile.display_name_or_company} by #{@review.reviewer_username}:

- if @review.title.present?
	= "#{Review.human_attribute_name(:title)}:"
	= @review.title
	
- if @review.body.present?
	= "#{Review.human_attribute_name(:body)}:"
	= @review.body
	
- if @review.good_to_know.present?
	= "#{Review.human_attribute_name(:good_to_know)}:"
	= @review.good_to_know

Edit/Delete review:
= edit_plain_profile_url(@review.profile) + "#edit_review_div_#{@review.id}"
