- name = @resource.profile_to_claim.try :first_name
= "Hi#{' '+name if name.present?},"
%br
%br
Thanks for joining Kinstantly. Your
= link_to 'free profile', edit_my_profile_url
is an easy way for parents to find you, learn more about you, and get in touch with you.
%br
%br
To get started filling out your profile, just click this link:
= link_to 'my profile.', edit_my_profile_url
You'll find it takes just a few minutes. And you can update your profile whenever you want, as often as you want.
%br
%br
Only have time to fill out a few fields right now? Parents tell us these are the things they look for most:
%br
%ul
	%li your specialties
	%li a photo of you (a smile helps)
	%li the best ways to contact you
%br
Also, if you haven't already, be sure to include your street address &ndash; or at least your zip code &ndash; so that anyone searching for you can see your location on the map.
%br
%br
Please don't hesitate to shoot me an email if you need help or have questions. Just reply to this email.
%br
%br
Thanks so much,
%br
%br
Jim Scott
%br
Founder and CEO
%br
= link_to t('company.name'), root_url
