- name = @resource.profile_claiming.try :first_name
= "Hi#{' '+name if name.present?},"
= ''
Welcome to Kinstantly: a fast, simple way to list your services, so the clients you want can find you.
= ''
Key benefits:
\ * It takes just minutes to create your listing -- get discovered right away
\ * You can highlight your most important information on just one page -- spend less time answering clients' initial questions
\ * You can change or update your information easily, whenever you want -- keep clients up to date if you change your hours or location
\ * It's free --  :)
= ''
To get started click this link:
= ''
= edit_my_profile_url
= ''
And if you have any questions or need help, just reply to this email.
= ''
Thanks,
\- The Kinstantly Team
