- name = @resource.profile_to_claim.try :first_name
= "Hi #{name.presence || 'there'},"
%br
%br
Thanks for joining Kinstantly. We're excited to help you grow your business.
%br
%br
%strong Here's how to get started:
Fill out your profile, so families can more easily find you, learn about your services, and get in touch with you. As soon as you do, we'll start linking to you in our
= succeed "." do
	= link_to 'weekly newsletter', newsletter_list_url
%br
%br
Only have time to fill out a few fields right now? Parents tell us these are the things they look for most:
%br
%ul
	%li your specialties
	%li the best ways to contact you
	%li your street address, or even just your zip code, so that people searching for you can see your location on the map
	%li a photo of you (a smile helps)
%br
We save each part of your profile as you go, so you can complete or update your profile whenever you want, as often as you want.
%br
%p{style: 'margin-top:25px;margin-bottom:20px;'}
	= link_to 'Start editing my profile', edit_my_profile_url, style: 'background-color:#e75370;border-radius:4px;color:#fff;font-size:16px;display:inline-block;font-weight:bold;padding:10px 25px;text-decoration:none;'
%br
Thanks so much,
%br
%br
Jim (co-founder and dad) and the Kinstantly Team
%br
%br
P.S. If you ever have questions or suggestions on how we can do better, shoot me an email at
= succeed "." do
	= mail_to 'jscott@kinstantly.com'
I'd love to hear from you.
