Hi there,
= ''
Please confirm the Kinstantly account you recently created by single-clicking this link:
= ''
= confirmation_url(@resource, confirmation_token: @resource.confirmation_token)
= ''
Once confirmed, you'll have full access to Kinstantly's profiles, ratings, reviews, and other features.
= ''
Welcome to Kinstantly!
\- The Kinstantly Team
