= "Hi #{@resource.name_for_greeting.presence || 'there'},"
= ''
Someone recently made a request to change the password on your account.
= ''
If you requested this password change, please set a new password by following the link below:
= ''
= edit_password_url(@resource, reset_password_token: @resource.reset_password_token)
= ''
If you don't want to change your password, just ignore this message.
= ''
Thanks,
= '- The Kinstantly Team'
