= "Hi #{@user.username.presence || 'there'},"
%br
%br
= link_to @provider_profile.company_otherwise_display_name, profile_url(@provider_profile)
no longer has permission to charge your card.
%br
%br
Click
= link_to 'here', authorize_payment_url(@provider_profile)
= "to reauthorize payments to #{@provider_profile.company_otherwise_display_name}."
%br
%br
Click
= link_to 'here', customer_url(@customer_file.customer)
to view past charge details.
%br
%br
If you have questions about particular charges, please contact your provider directly.
- if @provider_profile.email.present?
	We have the following email address for your provider:
	= mail_to @provider_profile.email
%br
%br
Need help? Just reply to this email, and we'll get back to you right away.
%br
%br
Thanks!
%br
&ndash; The Kinstantly Team
