= "Hi #{@user.username.presence || 'there'},"
%br
%br
You've authorized
= link_to @provider_profile.company_otherwise_display_name, profile_url(@provider_profile)
= "to charge your card for any services provided to you, not to exceed #{display_currency_amount @customer_file.authorized_amount_usd}."
%br
%br
Click
= link_to 'here', authorize_payment_url(@provider_profile)
= "to modify the amount you're authorizing #{@provider_profile.company_otherwise_display_name} to charge you."
%br
%br
Need help? Just reply to this email, and we'll get back to you right away.
%br
%br
Thanks!
%br
&ndash; The Kinstantly Team
