= "Hi #{@provider_name.presence || 'there'},"
%br
%br
%b= "#{@customer_file.customer_name} has authorized payments to you not to exceed a total of #{display_currency_amount @customer_file.authorized_amount_usd}."
%br
%br
= link_to 'Click here', customer_file_url(@customer_file)
to view your client's details and initiate charges.
%br
%br
Please don't hesitate to shoot us an email if you need help or have any other questions. Just reply to this email.
%br
%br
Thank you.
%br
%br
&ndash; The Kinstantly Team
