= "Hi #{@provider_name.presence || 'there'},"
%br
%br
= "#{@customer_file.customer_name} has authorized online payments to you."
%br
%br
To view details and initiate charges,
= link_to 'click here.', customer_file_url(@customer_file)
%br
%br
Need help? Just reply to this email, and we'll get back to you right away.
%br
%br
Thanks!
%br
%br
&ndash; Jim Scott and Edward Simpson
%br
Founders
