= "Hi #{@provider_name.presence || 'there'},"
%br
%br
= "#{@customer_file.customer_name} has revoked payment authorization. Since this action is often a mistake, you might want to contact your customer directly. Click"
= link_to 'here', customer_file_url(@customer_file)
to view this customer's payment history.
%br
%br
Need more help? Just reply to this email, and we'll get back to you right away.
