= javascript_include_tag 'payment'
#content
	#customer_files.payments
		%h1= t 'views.customer_file.view.customer_list_title'
		%p= t 'views.customer_file.view.customer_list_description_html', button_text: t('views.customer_file.view.charge_or_view')
		%table.tablesorter#customer_list
			%thead
				%tr
					%th= t 'views.customer_file.view.customer_username'
					%th= t 'views.customer_file.view.customer_email'
					%th= t 'views.customer_file.view.customer_authorized_amount'
					%th= t 'views.customer_file.view.charge_or_view_buttons'
			%tbody
				- @customer_files.each do |customer_file|
					%tr
						- customer_username = customer_file.customer_username
						%td= link_to customer_username, customer_file if customer_username.present?
						- if customer_file.has_customer_account?
							%td= mail_to customer_file.customer_email
						- else
							%td= t 'views.customer_file.view.customer_account_deleted'
						- if customer_file.customer_has_authorized_payment?
							%td= display_currency_amount customer_file.authorized_amount_usd
							%td= link_to t('views.customer_file.view.charge_or_view'), customer_file, class: 'button'
						- else
							%td= t 'views.customer_file.view.not_authorized'
							%td= link_to t('views.customer_file.view.view_customer'), customer_file, class: 'button'
		.buttons
			= link_to t('views.customer_file.view.customer_list_cancel'), edit_user_registration_path, class: 'default wide'

:coffeescript
	$ ->
		$('#customer_list').tablesorter({sortList: [[0,0]], headers: {3: {sorter: false}}})
