= javascript_include_tag 'payment'
#content
	#customer_files
		%h1= t 'views.customer_file.view.customer_list_title'
		%p= t 'views.customer_file.view.customer_list_description'
		%table.tablesorter#customer_list
			%thead
				%tr
					%th= t 'views.customer_file.view.customer_username'
					%th= t 'views.customer_file.view.customer_email'
			%tbody
				- @customer_files.each do |customer_file|
					- user = customer_file.customer.user
					%tr
						%td= link_to user.username, customer_file_path(customer_file)
						%td= link_to user.email, customer_file_path(customer_file)

:coffeescript
	$ ->
		$('#customer_list').tablesorter({sortList: [[0,0]]})
