= javascript_include_tag 'payment'
#content
	#customer_file
		- customer_name = @customer_file.customer_name
		%h1= customer_name
		%div= t 'views.customer_file.view.authorized_amount', amount: display_currency_amount(@customer_file.authorized_amount)
		%div= link_to t('views.customer_file.view.reminder_prompt', user: customer_name), '#'
		.buttons
			= link_to t('views.customer_file.view.new_charge'), new_charge_customer_file_path(@customer_file), class: 'default'
			= link_to t('views.customer_file.view.cancel'), customer_files_path, class: 'cancel'
		%h2= t 'views.customer_file.view.contact_information'
		%table
			%tr
				%th= t 'views.customer_file.view.email'
				%td= mail_to @customer_file.customer_email
		%h2= t 'views.customer_file.view.charge_history'
		%table.tablesorter#charge_history
			%thead
				%tr
					%th= t 'views.customer_file.view.charge_history_date'
					%th= t 'views.customer_file.view.charge_history_amount'
					%th= t 'views.customer_file.view.charge_history_fee'
					%th= t 'views.customer_file.view.charge_history_description'
					%th= t 'views.customer_file.view.charge_history_statement_description'
			%tbody
				- @customer_file.stripe_charges.each do |charge|
					%tr
						%td= display_transaction_date charge.created_at
						%td= display_currency_amount charge.amount_usd
						%td= display_currency_amount charge.fee
						%td= charge.description
						%td= charge.statement_description

		-# .tablesorterPager#charge_history_pager
		-# 	%form
		-# 		= image_tag 'tablesorter/pager/first.png', class: 'first'
		-# 		= image_tag 'tablesorter/pager/prev.png', class: 'prev'
		-# 		%input.pagedisplay{type: 'text'}
		-# 		= image_tag 'tablesorter/pager/next.png', class: 'next'
		-# 		= image_tag 'tablesorter/pager/last.png', class: 'last'
		-# 		%select.pagesize
		-# 			%option{selected: 'selected', value: '10'} 10
		-# 			%option{value: '20'} 20
		-# 			%option{value: '30'} 30
		-# 			%option{value: '40'} 40

:coffeescript
	$ ->
		$('#charge_history').tablesorter({sortList: [[0,1]]})
-# .tablesorterPager({container: $("#charge_history_pager")})
