#content
	#charge.payments
		- provider_name = @stripe_charge.customer_file.provider_name
		%h1= t 'views.stripe_charge.view.client_title', provider_name: provider_name
		%table.attributes
			%tr
				%th= "#{t 'views.customer.view.charge_history_date'}:"
				%td= display_transaction_date @stripe_charge.created_at
			%tr
				%th= "#{t 'views.customer.view.charge_history_amount'}:"
				%td= display_currency_amount @stripe_charge.amount_usd
			- if @stripe_charge.amount_refunded.try(:>, 0)
				%tr
					%th= "#{t 'views.customer.view.charge_history_last_refunded_date'}:"
					%td= display_transaction_date @stripe_charge.last_refunded_at
				%tr
					%th= "#{t 'views.customer.view.charge_history_amount_refunded'}:"
					%td= display_currency_amount @stripe_charge.amount_refunded_usd
			%tr
				%th= "#{t 'views.customer.view.card_info'}:"
				%td= display_payment_card_summary @stripe_charge.stripe_card
			%tr
				%th= "#{t 'views.customer.view.charge_history_description'}:"
				%td= @stripe_charge.description
			%tr
				%th= "#{t 'views.customer.view.charge_history_statement_description'}:"
				%td= @stripe_charge.statement_description
		.buttons
			= link_to t('views.stripe_charge.view.client_cancel'), @stripe_charge.customer_file.customer, class: 'default wide'
