= javascript_include_tag 'payment'
#content
	#charge.payments
		- customer_name = @stripe_charge.customer_file.customer_name
		%h1= t 'views.stripe_charge.view.title', customer_name: customer_name
		%table.attributes
			%tr
				%th= "#{t 'views.customer_file.view.charge_history_date'}:"
				%td= display_transaction_date @stripe_charge.created_at
			%tr
				%th= "#{t 'views.customer_file.view.charge_history_amount'}:"
				%td= display_currency_amount @stripe_charge.amount_usd
			- if @stripe_charge.amount_refunded.try(:>, 0)
				%tr
					%th= "#{t 'views.customer_file.view.charge_history_last_refunded_date'}:"
					%td= display_transaction_date @stripe_charge.last_refunded_at
				%tr
					%th= "#{t 'views.customer_file.view.charge_history_amount_refunded'}:"
					%td= display_currency_amount @stripe_charge.amount_refunded_usd
				%tr
					%th= "#{t 'views.customer_file.view.charge_history_amount_collected'}:"
					%td= display_currency_amount @stripe_charge.amount_collected_usd
			%tr
				%th= "#{t 'views.customer_file.view.charge_history_stripe_fee'}:"
				%td= display_currency_amount @stripe_charge.stripe_fee_collected_usd
			%tr
				%th= "#{t 'views.customer_file.view.charge_history_application_fee'}:"
				%td= display_currency_amount @stripe_charge.application_fee_collected_usd
			- if @stripe_charge.description.present?
				%tr
					%th= "#{t 'views.customer_file.view.charge_history_description'}:"
					%td= @stripe_charge.description
			- if @stripe_charge.statement_description.present?
				%tr
					%th= "#{t 'views.customer_file.view.charge_history_statement_description'}:"
					%td= @stripe_charge.statement_description
		.buttons
			= link_to t('views.stripe_charge.view.cancel'), @stripe_charge.customer_file, class: 'default wide'
		- unless @stripe_charge.refunded
			%div= t 'views.stripe_charge.refund.title', customer_name: customer_name
			.generic_form
				= form_for @stripe_charge, url: {action: :create_refund}, method: :put do |f|
					= f.error_messages
					.required_tip= t 'views.required'
					.text_field
						= f.label :refund_amount_usd, class: 'required'
						= f.text_field :refund_amount_usd
					.text_field#refund_reason_field
						= f.label :refund_reason
						= f.select :refund_reason, StripeCharge::REFUND_REASONS.map{|reason| [t(reason, scope: 'views.stripe_charge.refund.reason'), reason]}, {include_blank: true}
					.buttons
						= f.submit t('views.stripe_charge.refund.submit'), class: 'save', data: { disable_with: t('views.stripe_charge.refund.submit_disable') }
