- @page_title = "#{company_name} - Edit category '#{@category.name}'"
.edit
	%h1= "Edit category '#{@category.name}'"
	#top_bar
		= render partial: 'home/admin_nav'
	#forms
		= render partial: 'edit_form'
		- if can?(:destroy, @category)
			= form_for @category, method: :delete, html: {id: 'destroy_category', class: 'destroy_button'} do |f|
				= f.submit t('views.category.edit.destroy_button'), disable_with: 'Trashing...', confirm: t('views.category.edit.destroy_confirm')
	#links
		%a{name: 'links'}
		%h1= Category.human_attribute_name :services
		%table
			%thead
				%tr
					%th.miniform_header
						= Service.human_attribute_name(:display_order)
						&nbsp;&nbsp;
						= t 'views.service.name'
					%th Edit
			%tbody
				- @category.services.display_order.order_by_name.each do |record|
					%tr
						%td.miniform
							= form_for record do |f|
								= f.submit 'Save', disable_with: 'Save'
								= f.text_field :display_order, size: 4
								= f.text_field :name, size: 30
								= hidden_field_tag :category_id, @category.id
						%td= link_to record.name, edit_service_path(record), class: 'name'
= render partial: 'shared/save_changes_prompt'
