- @page_title = "#{company_name} - Edit category '#{@category.name}'"
.edit
	%h1= "Edit category '#{@category.name}'"
	#top_bar
		= render partial: 'home/admin_nav'
	#forms
		= simple_form_for @category do |f|
			= f.input :name, required: true
			= f.input :is_predefined
			= f.association :services, as: :check_boxes, collection: Service.predefined
			= f.button :submit
			= link_to 'Cancel', categories_path
		- if can?(:destroy, @category)
			= form_for @category, method: :delete, html: {id: 'destroy_category', class: 'destroy_button'} do |f|
				= f.submit t('views.category.edit.destroy_button'), disable_with: 'Trashing...', confirm: t('views.category.edit.destroy_confirm')
	#links
		%h1= Category.human_attribute_name :services
		%ul
			- @category.services.order_by_name.each do |record|
				%li= link_to record.name, edit_service_path(record), class: 'name'
= render partial: 'shared/save_changes_prompt'
