- @page_title = "#{company_name} - #{t('views.category.name').pluralize}"
.index
	%h1= t('views.category.name').pluralize
	#top_bar
		= render partial: 'home/admin_nav'
	.list{align: 'center'}
		= paginate @categories
		%table
			%thead
				%tr
					%th
						= t 'views.category.name'
						-# %br
						-# = t 'views.not_browsable'
					%th.large
						= Category.human_attribute_name(:subcategories)
						-# %br
						-# = t 'views.category.index.service_explanation'
					-# %th= Category.human_attribute_name(:is_predefined)
					%th= Category.human_attribute_name(:home_page_column)
					-# %th= Category.human_attribute_name(:display_order)
			%tbody
				- @categories.each do |category|
					%tr
						%td= link_to category.name, edit_category_path(category), class: "#{category.browsable? ? 'browsable' : 'not_browsable'}"
						%td
							- category.subcategories.by_display_order.order_by_name.each do |record|
								= link_to record.name, edit_subcategory_path(record), class: "name #{record.browsable? ? 'browsable' : 'not_browsable'}"
						-# %td{class: "#{category.is_predefined ? 'predefined' : 'not_predefined'}"}= category.is_predefined
						%td= category.home_page_column
						-# %td= category.display_order
		= paginate @categories
