- @page_title = "#{company_name} - Categories"
.index
	%h1 Categories
	#top_bar
		%nav.buttons
			= admin_link
			= link_to 'Services', services_path
			= link_to 'Specialties', specialties_path
			= link_to "Create a new category", new_category_path
	.list{align: 'center'}
		= paginate @categories
		%table
			%thead
				%tr
					%th= t 'views.category.name'
					%th.large= Category.human_attribute_name(:services)
					%th= Category.human_attribute_name(:is_predefined)
			%tbody
				- @categories.each do |category|
					%tr
						%td= link_to category.name, edit_category_path(category)
						%td
							- category.services.each do |record|
								= link_to record.name, edit_service_path(record), class: 'name'
						%td{class: "#{category.is_predefined ? 'predefined' : 'not_predefined'}"}= category.is_predefined
		= paginate @categories
