- @page_title = "#{company_name} - Categories"
.index
	%h1 Categories
	#top_bar
		= render partial: 'home/admin_nav'
	.list{align: 'center'}
		= paginate @categories
		%table
			%thead
				%tr
					%th
						= t 'views.category.name'
						%br
						= t 'views.not_browsable'
					%th.large= Category.human_attribute_name(:services)
					%th= Category.human_attribute_name(:is_predefined)
					%th= Category.human_attribute_name(:display_order)
			%tbody
				- @categories.each do |category|
					%tr
						%td= link_to category.name, edit_category_path(category), class: "#{category.browsable? ? 'browsable' : 'not_browsable'}"
						%td
							- category.services.order_by_name.each do |record|
								= link_to record.name, edit_service_path(record), class: "name #{record.browsable? ? 'browsable' : 'not_browsable'}"
						%td{class: "#{category.is_predefined ? 'predefined' : 'not_predefined'}"}= category.is_predefined
						%td= category.display_order
		= paginate @categories
