= "Hi #{@user.username.presence || 'there'},"
%br
%br
= link_to @provider_profile.company_otherwise_display_name, profile_url(@provider_profile)
%b= "has refunded #{display_currency_amount @stripe_charge.refund_amount_usd} to the following card:"
%br
= display_payment_card_summary @stripe_charge.stripe_card
%br
%br
%b The refund was made on a charge described as:
%br
= @stripe_charge.description
%br
%br
%b The original charge was identified on your statement as:
%br
= @stripe_charge.statement_description
%br
%br
:plain
	<b>View your refund details </b><a href="#{show_to_client_stripe_charge_url @stripe_charge}">here</a>.
%br
%br
If you have questions, please contact your provider directly.
- if @provider_profile.email.present?
	%b We have the following email address for your provider:
	= mail_to @provider_profile.email
%br
%br
Thank you.
%br
&ndash; The Kinstantly Team
