= "Hi #{@user.username.presence || 'there'},"
%br
%br
= link_to @provider_profile.company_otherwise_display_name, profile_url(@provider_profile)
%b= "has charged #{display_currency_amount @stripe_charge.amount_usd} to the following card:"
%br
= display_payment_card_summary @stripe_charge.stripe_card
- if @stripe_charge.description.present?
	%br
	%br
	%b Charge description:
	%br
	= @stripe_charge.description
- if @stripe_charge.statement_description.present?
	%br
	%br
	%b The charge will be identified on your statement as:
	%br
	= @stripe_charge.statement_description
%br
%br
:plain
	<b>View your charge details </b><a href="#{show_to_client_stripe_charge_url @stripe_charge}">here</a>.
%br
%br
If you have questions, please contact your provider directly.
- if @provider_profile.email.present?
	%b We have the following email address for your provider:
	= mail_to @provider_profile.email
%br
%br
Thank you.
%br
&ndash; The Kinstantly Team
