= "Hi #{@user.username.presence || 'there'},"
%br
%br
= link_to @provider_profile.company_otherwise_display_name, profile_url(@provider_profile)
has charged
= display_currency_amount @stripe_charge.amount_usd
to the following card.
%br
%br
= display_payment_card_summary @stripe_charge.stripe_card
%br
%br
Charge description:
%br
= @stripe_charge.description
%br
%br
The charge will be identified on your statement as:
%br
= @stripe_charge.statement_description
%br
%br
= link_to 'Click here', customer_url(@user.as_customer)
to view your charge details.
%br
%br
If you have questions, please contact your provider directly.
- if @provider_profile.email.present?
	We have the following email address for your provider:
	= mail_to @provider_profile.email
%br
%br
Thank you.
%br
&ndash; The Kinstantly Team
