%fieldset
	%legend= t 'views.profile.edit.edit_review', name: review.reviewer.try(:username)
	= form_for [:admin_update, review], method: :put, remote: true do |f|
		= render partial: 'reviews/admin_form_fields', locals: {review: review, f: f}
	- if can?(:destroy, review)
		- t_scope = 'views.review.edit'
		= form_for review, method: :delete, html: {class: 'delete_review'} do |f|
			= f.submit t('delete', scope: t_scope), disable_with: t('deleting', scope: t_scope), confirm: t('delete_confirm', scope: t_scope)
