- current_rating = @review.profile.rating_by(current_user)
- current_user_score = current_rating.try(:score).try(:round).presence || -1
- profile_name = @review.profile.display_name_or_company
- body_placeholder = t('review.body_placeholder')
- good_to_know_placeholder = t('review.good_to_know_placeholder')
= javascript_include_tag 'review_new'
						
#content
	.new_review_div.wider_form
		.left.column_70
			%p= (current_user_score > 0)? t('rating.thanks_for_rating', name: profile_name, count: current_user_score): t('review.review_header', name: profile_name)
			%p= current_rating ? t('review.prompt_for_review') : ''
		.right.column_25				
			- if can? :rate, @review.profile
				= render partial: 'profiles/rate', locals: {profile: @review.profile, current_rating: current_rating, embedded_in: :review}
		- if can? :create, @review
			= form_for @review, url: save_review_for_profile_path(@review.profile) do |f|
				= f.error_messages
				
				.text_field
					= f.label :body, t('views.field_label', name: Review.human_attribute_name(:body))
					%br
					= f.text_area :body, size: '80x5', placeholder: body_placeholder

				.text_field
					= f.label :good_to_know, t('views.optional_field_label', name: Review.human_attribute_name(:good_to_know))
					%br
					= f.text_area :good_to_know, size: '80x2', placeholder: good_to_know_placeholder

				.buttons
					= f.submit t('views.review.edit.submit'), disable_with: t('views.review.edit.submit_disable'), class: 'default'
					= link_to t('views.review.edit.skip'), profile_path(@review.profile),  class: 'cancel_link'
