!!! XML
!!!
%html
	%head
		%title Get Answers
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		.top_nav
			= greeting
			= sign_in_out_link
			.flash_messages
				.notice= notice
				.alert= alert
		= yield
