- @styles = @styles.nil? || @styles
!!! XML
!!!
%html
	%head
		%title= @page_title.presence || "#{company_name} | #{company_tagline}"
		- if @styles
			= stylesheet_link_tag "interior", media: "all"
		= csrf_meta_tags
		= render partial: 'layouts/tracking'
	%body
		= yield
		= render partial: 'layouts/g_analytics'
