- @body_class ||= 'interior'
- content_for :head_before_js do
	= stylesheet_link_tag "interior", media: "screen, handheld, print"
- content_for :body_header do
	%header#branding.clearfix
		.container
			%h3#tagline When parenting challenges can't wait.
			%nav#access.clearfix
				%ul
					%li#skip
						%a{href: '#content'}= t 'views.accessibility'
					%li#about= about_link
					%li#contact= contact_link
					- if user_signed_in?
						- if current_user.is_provider?
							%li#myprofile= view_my_profile_link
						%li#settings= account_settings_link
						%li#signout= sign_in_out_link
					- else
						%li#signin
							Already a member? #{sign_in_out_link}
		#masthead.clearfix
			%h1= home_link
			#search_providers.aside
				= form_tag search_providers_path, method: :get, id: 'providerSearch' do
					= hidden_field_tag :service_id, @search_service.id if @search_service
					= text_field_tag :query, (@search_service.try(:name).presence || @search_query), id: 'provider_search_query', autocomplete: 'off', placeholder: t('views.search.query_placeholder')
					.select-wrapper
						%span.select-text
						= select_tag :search_area_tag_id, search_area_tag_options(@search_area_tag_id), id: 'search_area_tag'
					= submit_tag 'Search for free', disable_with: 'Searching...', class: 'button submit green', id: 'provider_search_button'
					- if !user_signed_in?
						%p.small
							Provider? #{provider_sign_up_link 'Join us'}
= render template: 'layouts/application'
