!!! XML
!!!
%html
	%head
		%title= @page_title
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		= yield
		.bottom_nav
			= link_to "Go to top", '#top'
			= link_to "Home", root_path
