!!! XML
!!!
%html
	%head
		%title= @page_title.presence || company_name
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		%a{name: 'top'}
		.top_nav
			%span.nav_el= home_link
			%span.nav_el= request_expert_link
			%span.nav_el= about_link
			%span.nav_el= faq_link
			%span.nav_el= policies_link
			%span.nav_el= become_expert_link
			%span.nav_el= contact_link
			.flash_messages
				.notice= notice
				.alert= alert
		= yield
		.bottom_nav
			= link_to "Go to top", '#top'
			= home_link
