!!! XML
!!!
%html
	%head
		%title= @page_title.presence || company_name
		= stylesheet_link_tag    "plain", :media => "all"
		= javascript_include_tag "application"
		-# Name-space my global variables, e.g., my_vars.a_val, my_vars.t.some_text, my_vars.f.a_function
		%script var my_vars={t:{},f:{}};
		= csrf_meta_tags
		= yield :head
		= render partial: 'layouts/tracking'
	%body
		%a{name: 'top'}
		.top_nav
			%span.nav_el= greeting
			%span.nav_el= provider_sign_up_link
			%span.nav_el= home_link
			%span.nav_el= about_link
			%span.nav_el= terms_link
			%span.nav_el= contact_link
			- if current_user.try :is_provider?
				%span.nav_el= view_my_profile_link
			%span.nav_el= account_settings_link
			%span.nav_el= sign_in_out_link
			%span.nav_el= admin_link
			%span.nav_el= admin_profiles_link
			%span.nav_el= admin_user_list_link
			= render partial: 'profiles/search_form'
			.flash_messages
				.notice= notice
				.alert= alert
		= yield
		.bottom_nav
			= link_to "Go to top", '#top'
			= home_link

:coffeescript
	# Ensure rating stars render properly after everything is loaded.
	window.onload = ->
		my_vars.f.rating_score_reset() if my_vars.f.rating_score_reset
	
	# Ordering on index pages.
	$('.select_index_order_by').change (e) ->
		$(this).parents('form.per_page').submit()
		false
